[2018-04-18 03:24] jacobwgillespie opened #1 "Add website icon search"
Might be possible to use something like https://community.algolia.com/react-instantsearch/.  This would also allow using `react-virtualized` so as to avoid rendering all icons at once.

[2018-04-19 00:18] jacobwgillespie opened #5 "Fix demo website performance issues"
Rendering all 2200+ icons is expensive.  Can we avoid rendering everything?

[2018-04-19 02:56] jacobwgillespie commented on #5
Closed in #6

[2018-04-19 02:56] #5 closed

[2018-04-30 08:50] HugoGiraudel opened #27 "Accessibility of icons"
Hey there!

Alright, let’s talk about accessibility. Most of what I know comes from Florens Verschelde. He wrote a fantastic article about working with SVG icons and I highly suggest anyone to read it: https://fvsch.com/code/svg-icons/#section-html.

Here is a summary of the things that are necessary for accessible icons:

- The SVG element should have `focusable="false"` to avoid a double-focus i

[2018-05-06 20:18] spawnia opened #49 "create-react-app build fails to minify"
Hi, just today i discovered this project - looks very nice so far.

However, i have the following issue when trying to create the production build with the `create-react-app` build step:

[code]

[2018-05-06 21:04] jacobwgillespie commented on #49
Hey, thanks for the report - I’d be happy to take a look.  Can you provide the following, if you are able:

* What version of NodeJS are you using?
* What does your `package.json` contain (especially the version of react-scripts)?
* Can you post an example of how you are importing styled-icons?

[2018-05-06 21:32] spawnia commented on #49
What version of NodeJS are you using?

I am running in the docker image `node:alpine`.

[code]

You can actually take a look at my repo here: (make sure to stick with that revision, unfortunately i kicked styled-icons after this)

https://gitlab.com/spawnia/franke.tech/tree/c8cccd6b421b2b4c24325b805728fca08f389633

I am using the icons in here:

https://gitlab.com/spawnia/franke.tech/blob/c8cccd6b

[2018-05-07 02:29] jacobwgillespie commented on #49
Thanks again for the report and the link to your repo, I was able to track down the issue.  It appears that I had not properly tested this repo against Create React App, as the app I tested it with was modifying UglifyJS's minification settings.

I just released v2.0.0 which fixes that issue.  I opened a merge request against your repo to demonstrate using the updated version: https://gitlab.com/s

[2018-05-07 07:32] HugoGiraudel commented on #27
Thank you for fixing the possible focus bug on Internet Explorer and Edge, that’s already better!

Here is the thing about the `title` element: this is not the correct way to provide meaning to an icon. The `title` element is supposed to describe the graphics itself, hence why it is used for charts, diagrams or other imagery like this. For an icon, one does not want to describe the icon itself, bu

[2018-05-07 20:48] spawnia commented on #49
Thank you for the fix, it worked perfectly. This package is great, it is so nice i can actually use it now.

[2018-05-07 20:48] #49 closed

[2018-05-10 14:34] dependabot[bot] opened #58 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-05-31 12:41] dependabot[bot] opened #103 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-05-31 13:14] #103 closed

[2018-06-23 22:41] cloutiertyler opened #162 "Cannot use with TypeScript target ES5"
I'm having difficulties importing the styled icons because it appears that the generated files are using ES6 exporting. It looks like your `module` setting in your tsconfig is `commonjs` so I'm not sure why that would be.

In particular the error is:
[code]

[2018-06-24 02:20] jacobwgillespie commented on #162
Hey, how are you bundling your application?  The normal files are built as ES modules (specifically `target: es5` and `module: es2015`) and it's expected that your JS bundler is able to do the transformation from ES modules to CommonJS, etc.  That should work with Webpack, Rollup, etc. depending on how they're configured.

The benefit is tree shaking, as if you are only going to use a few icons, y

[2018-06-26 21:34] harry-sm opened #169 "Icon alignment"
Hello, Greate project.

I'm replacing my font-awesome icons with styled-icons, however, I have encountered an issue. The icon alignment is off.
![image](https://user-images.githubusercontent.com/15040197/41939708-a36a884c-7964-11e8-9c70-6d54189ee598.png)

My markup
![image](https://user-images.githubusercontent.com/15040197/41939764-b9cf2692-7964-11e8-9186-f75552b46286.png)

Using font-awesome
![i

[2018-06-27 01:49] harry-sm commented on #169
This package
https://www.npmjs.com/package/@fortawesome/react-fontawesome
https://github.com/FortAwesome/react-fontawesome

Thanks for looking into it.

[2018-06-27 02:17] harry-sm opened #170 "Naming conflict with components"
Hello,
An issue I have experience using this lib is naming conflicts between my project components and styled-icons. Example
`import { Home } from 'styled-icons/material';`

I already have a component called `Home`. It would be nice with styled-icons had unique names. To solve this I currently do `import { Home as SiHome } from 'styled-icons/material';` not the best naming convention but it gets t

[2018-06-27 16:09] #169 closed

[2018-06-27 16:20] jacobwgillespie commented on #169
Nice catch, it looks like Font Awesome applies a `vertical-align: -.125em` to all icons.  I added that to all Font Awesome icons in #171 and just released it to npm as `v2.3.0`.

[2018-06-27 16:28] jacobwgillespie commented on #170
Yeah, the decision to preserve the original icon names rather than prefix them was intentional, as then the names of the components are the names of the icons.  I've always found it a little annoying when using icons packs if the pack has some sort of custom naming scheme basically.

That said, it does create the issue of name conflicts, like where the icon names match the names of components you

[2018-06-27 17:49] harry-sm commented on #169
Great! Thanks.

Just to point out the same issue occurs with octicons and material icons.

Oticon
![image](https://user-images.githubusercontent.com/15040197/41989998-2ba76cb6-7a0f-11e8-81c8-aa0b2be12904.png)

Material
![image](https://user-images.githubusercontent.com/15040197/41990048-54da27ea-7a0f-11e8-89db-01ebb39edf28.png)
`vertical-align: -.25em;` seems to fix the issue, but I haven't tested

[2018-06-27 20:46] harry-sm commented on #170
So I use CRA and I never want to eject, not sure what the bundler config is in it.

I have been playing around with alternative solutions.

Options 1
[code]
Example usage:
[code]
![image](https://user-images.githubusercontent.com/15040197/41997120-11565352-7a25-11e8-9817-e5c84928663d.png)

Pros:
- Icons in pack names remain the same.
- As of TS v2.9.*, which is in vscode v1.24, we get IntelliSense

[2018-06-28 15:52] jacobwgillespie commented on #170
I also use Create React App, so most tree shaking scenarios should already work correctly.  Specifically, this should tree-shake:

[code]

I've tried to do something similar where you create a wrapper component, and it _almost_ tree-shakes, but from my testing, Webpack can get confused when re-exporting and end up bundling everything.

In one project, I have two files, `Icon.tsx` and `supportedIco

[2018-06-28 15:59] jacobwgillespie commented on #169
Hmm, interesting...  Yeah I think the other icon packs just set `vertical-align` to `middle`.  Even the Octicons website seems to have this same issue:

<img width="329" alt="screenshot 2018-06-28 10 56 38" src="https://user-images.githubusercontent.com/130874/42045805-10e4431e-7ac2-11e8-93b7-c3bb304e9ca2.png">

I had briefly looked at any automated ways to calculate the visual center of icons, so

[2018-06-28 21:01] harry-sm commented on #169
Yeah that's a lot of work. I see font-awesome using height: 1em. However,
as the size of the icon increase the misalignment becomes more pronounced.

On Jun 28, 2018 10:59 AM, "Jacob Gillespie" <notifications@github.com>
wrote:

Hmm, interesting... Yeah I think the other icon packs just set
vertical-align to middle. Even the Octicons website seems to have this same
issue:

[image: screenshot 2018-

[2018-06-28 21:11] harry-sm commented on #170
Yeah using dynamic requires additional configuration. I don't know the inner workings of how tree shaking works maybe I should look into it.

[2018-07-09 17:37] peterlazzarino commented on #162
I am seeing the same issue with an installation into a gatsby react app

[2018-07-09 18:13] jacobwgillespie commented on #162
@peterlazzarino do you have a repo that reproduces the issue?  I can take a look.  I suspect that Gatsby might require the `.cjs` extension for Gatsby 1.x and should not require it for 2.x (the most recent release looks like `2.0.0-beta.19`).  The 2.x branch upgraded to Webpack 4, but the current Gatsby 1.x releases use Webpack 1.

However, having said that, the Styled Icons website in this repo i

[2018-07-11 13:44] peterlazzarino commented on #162
@jacobwgillespie my main dev repo is private but I created a basic public repo that reproduces this issue

https://github.com/peterlazzarino/gatsby-test

Just run it and you will see the issue preventing app render.

The repo is based on the gatsby-netlify-starter that my app is also built on top of.

[2018-07-11 14:36] RXminuS commented on #162
I have the same problem but my target is set to ES6. I tried both the cjs and non-cjs methods.

[code]

[2018-07-11 14:37] RXminuS commented on #162
<img width="465" alt="screen shot 2018-07-11 at 16 37 05" src="https://user-images.githubusercontent.com/3949285/42579474-b10bbd84-8528-11e8-805f-ac5a1491619b.png">

[2018-07-11 14:37] peterlazzarino commented on #162
To follow up, and as a reply to the comment above, the .cjs method works in my app.

[2018-07-11 14:38] peterlazzarino commented on #162
@RXminuS can you post the pre-compile version of your component?

[2018-07-11 15:56] RXminuS commented on #162
Could this have something to do with it?
https://stackoverflow.com/questions/42685501/confusing-typescript-errors-due-to-hyphen-in-package-name

[2018-07-11 17:46] jacobwgillespie commented on #162
Okay, I believe I understand what's going on:

* Imports like `styled-icons/material` or `styled-icons/material/Person` are ES5 but use ES modules (`import` / `export`) in order to support tree shaking, which is a good idea given that the import can be very large if all of the icons end up being bundled unintentionally
* Most bundlers like Webpack, Rollup, Parcel, etc should natively understand th

[2018-07-11 21:20] craigmd commented on #162
To elaborate on what @RXminuS reported. The `index.cjs` file is trying to `require` the non cjs version and again webpack is kicking back an error saying it doesn't know what `import` is. So,
[code]

[2018-07-12 18:48] jacobwgillespie commented on #162
Ah nice catch, yup that's a bug.  It should be fixed in #192 and released as v2.3.1.

[2018-07-26 06:36] harry-sm commented on #169
@jacobwgillespie
I did an edit but, unfortunately, I am unable to run a build,  not all packages were installed so getting tons of errors about missing packages. I have no idea why. I just added some css to icon.tsx.template.
[code]
The prop size would be represented in em units so
[code]
Might be better to change the unit to rem, just a thought.

[2018-08-02 14:32] jacobwgillespie commented on #162
This should be resolved:

* If you're using Webpack 3/4 / Create React App / Rollup the default entry points should work and should support tree-shaking
* Otherwise, the `.cjs` suffixed entry points should work, at the risk of making tree shaking more difficult

Feel free to open a new issue if anything else comes up!  🎉

[2018-08-02 14:32] #162 closed

[2018-08-02 14:34] jacobwgillespie commented on #170
I'm going to mark this as closed - do feel free to open another issue if anything else comes up!

[2018-08-02 14:34] #170 closed

[2018-08-03 02:06] harry-sm commented on #170
Yeah cool.

[2018-08-08 17:16] JoshRosenstein opened #233 "Feather and possibly many other lose details using svgo convertShapeToPath plugin"
For example, alert Icons in feather, are missing exclamation point consider adding a param to your svgo func to toggle the convertShapeToPath plugin off based on icon name, or pack...

[2018-08-08 18:06] #233 closed

[2018-09-02 06:32] fillipvt opened #272 "Using styled-icons with NextJS"
Hello!

Tried setting `styled-icons` with next.js following first their [`styled-components` example](https://repl.it/@fillipvt/nextjs-with-styled-components-and-styled-icons). Then I just imported `styled-icons` and then the icon I want to use from FontAwesome.

This is the result, basically an error:

[code]

Here's the resulting error:

https://repl.it/@fillipvt/nextjs-with-styled-components-an

[2018-09-02 13:45] jacobwgillespie commented on #272
Hey @fillipvt,

The problem is that `styled-icons` uses the ES modules `import` and `export` in the npm package files themselves, as this allows JavaScript bundlers to apply tree-shaking and remove unused code.  That's really important for this package because otherwise you'd end up bundling all of the icons in your resulting JS bundle, which can be quite large (several megabytes).

That requires

[2018-09-02 15:51] fillipvt commented on #272
Thank you very much @jacobwgillespie ! This looks awesome:

https://repl.it/@fillipvt/nextjs-with-styled-components-and-styled-icons

I have one last question. How do you normally manage dynamic sizes for icons? Let's say one wants to have the icon's size change according to the viewport.

[code]

I'm using here `.attrs({})` to pass down the size, but I'm not certain how to change this according,

[2018-09-02 16:08] jacobwgillespie commented on #272
Awesome!  Couple of ideas for dynamic sizes:

You have the Styled Components API available, so you can pass a function instead of a value and it should resolve:

[code]

However I don't think that'll update if/when the window is resized.  For that behavior, you could either find a component that supports listening to window resize events, or probably better, just use CSS:

[code]

That would set t

[2018-09-02 18:16] jacobwgillespie commented on #272
Cool, happy to help 👍

[2018-09-09 21:25] brad-decker opened #282 "Tree Shaking isn't working as (I) expected"
Prior to stating the issue I want to say that the reason I have installed this package is I am trying to replace our custom icons from https://www.github.com/MerlinLabs/styled-material-components with yours. Also I am currently rewriting the library build process to get tree shaking working. I have been down a rabbit hole and even created a whole new package to test how Tree shaking works in gener

[2018-10-06 23:04] jacobwgillespie commented on #282
Hey @brad-decker sorry for the late reply - do you have a sample repo or more information about your build environment?  If you are using Webpack 4 tree shaking should work out of the box, and other environments have their own requirements.  I'd be happy to take a look and we should be able to get everything working.

As a side note, the `unused harmony export` does indicate an export is unused, b

[2018-10-22 13:49] jacobwgillespie commented on #282
I'm going to close this - if you're using Create React App things will be smoother with CRA v2, and if you're using Gatsby, things will also be smoother with v2.  If just plain Webpack, you should be on Webpack 4 and should not be transpiling ES modules before they arrive at Webpack (i.e. babel should be emitting modules).  Otherwise if that's not an option, the `.cjs` imports should work, they're

[2018-10-22 13:49] #282 closed

[2018-10-23 17:18] jacobwgillespie commented on #282
Yep, if you transpile to CommonJS before Webpack or Rollup or your bundler are able to parse the code, it won't be able to apply the ES modules tree shaking.  Webpack 4 (and therefore Create React App v2+ and Gatsby v2+) and Rollup are able to handle this out of the box.

[2018-11-08 13:10] Betree opened #387 "Add search variable to URL params"
It would be nice to store search in URL params to be able to share URLs such as `https://styled-icons.js.org/?search=event` that would show the page with filtered icons.

[2018-11-12 20:11] jacobwgillespie commented on #387
Awesome suggestion, I've added this!

https://styled-icons.js.org/?s=smile

Depending on what's cached locally, you might need to refresh after visiting the site to pick up the new changes in the service worker.

[2018-11-12 20:11] #387 closed

[2018-11-12 21:35] Betree commented on #387
Nice one @jacobwgillespie and thanks for this library, it is really useful!

https://styled-icons.js.org/?s=thumbs%20up

[2018-11-13 00:47] bopfer opened #401 "Deprecation warning since upgrading to styled-components 4.1.0"
See the notes about the deprecation here: https://github.com/styled-components/styled-components/blob/master/CHANGELOG.md#v410---2018-11-12

Nothing breaks and everything will continue to work until styled-components v5.  But, the many warnings are an eyesore.

Any plans on updating styled-icons to the new functionality?

Edit: here is the full deprecation warning:
[code]

[2018-11-13 02:45] dependabot[bot] opened #402 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-13 04:05] #402 closed

[2018-11-13 20:11] #401 closed

[2018-11-13 20:40] jacobwgillespie commented on #27
I'm going to close this issue for now, though I may revisit at some future point.  For now, this library provides raw access to the `<svg>` element, and there's a note in the README about wrapping.  But some future backwards-incompatible version might have built-in span-wrapping.

[2018-11-13 20:40] #27 closed

[2018-11-14 02:40] jacobwgillespie commented on #401
Thanks for reporting, this has been fixed in v4.0.0 🎉

[2018-11-15 16:20] babycourageous opened #415 "Empty svg being rendered"
I'm sure I'm just missing something glaringly obvious but currently my usage of styled-icons is rendering an empty svg element.
`<svg class="sc-fQejPQ jDkHNW"></svg>`
I'm just using the example shown on the README section. Any thoughts?

Thanks!
Looking forward to getting some styled icons in my project!

[2018-11-15 22:42] jacobwgillespie commented on #415
Which example are you trying?  I did just discover a typo on the README (`<Account />` should be `<AccountCircle />`) but it seems to be otherwise functional for me:

https://codesandbox.io/s/3qn896112p

If you have any other details I'd be happy to take a look!

[2018-11-15 23:45] babycourageous commented on #415
Crazy - that's basically identical to what I've got - import named icon from package and use it in component but it renders an empty svg element. The only difference I can tell is that I have react-scripts 2.0.5 and that codesandbox is 2.0.3

bizarre.
Oh - good catch on that typo - was about to let ya know about it!

[2018-11-16 00:06] jacobwgillespie commented on #415
Would you be able to create a simple repo to reproduce?  I’d be happy to debug.

[2018-11-16 00:12] babycourageous commented on #415
Yeah - I'll try to throw a simple project up!

[2018-11-16 12:29] VictorGiroud commented on #415
If it can help you:
I had the same issue with styled-components@4.0.3.
Updated in 4.1.1 after looking at peerDepencies ("styled-components": "> = 4.1.0 <5") and it worked.

[2018-11-16 15:15] jacobwgillespie commented on #415
Ah yes, that would cause this issue.  Yep the breaking change in `styled-icons v4 was requiring at least `styled-components v4.1 or newer.  Nice catch.

[2018-11-16 15:42] babycourageous commented on #415
Oh great! Thanks - they must have updated recently. I made that change and it's no longer empty. Thanks for the assist!

[2018-11-16 19:39] jacobwgillespie commented on #415
I'm going to close this issue since we've figured out the culprit - feel free to post back or open a new issue if anything else arises!

[2018-11-16 19:39] #415 closed

[2018-11-17 12:47] sisyphsu opened #417 "Should use 'import * as React' in index.d.ts"
likely in Typescript, you can't `import React from 'react'` directly.
the error message was:

after I edit the `index.d.ts` to be:
[code]
 above error disappeared.

[2018-11-18 17:42] jacobwgillespie commented on #417
Nice, good catch - I usually use TypeScript with `allowSyntheticDefaultImports` set to `true`, but `import React from 'react'` would totally break without it.

This is fixed in v4.1.0.

[2018-11-19 01:11] shavyg2 opened #420 "Can't download from Yarn"
Is anyone else having this issue. When i am trying to download the package i keep getting this error.

OS : Windows 10
Bit: 64
Registry: https://registry.yarnpkg.com

I can download anything else, browse the web, stream Lakers game and file this issue no problem.
This has been going on for a week. I really was looking forward to the library
[code]

[2018-11-19 03:35] jacobwgillespie commented on #420
That's a bug with yarn itself (there's [lots of reports](https://github.com/yarnpkg/yarn/search?q=There+appears+to+be+trouble+with+your+network+connection&type=Issues) about it on GitHub) - I saw it quite often a few weeks ago, however the latest version of yarn seems to have fixed the issue, at least for me.  It's not specific to `styled-icons` either, for me it was a different package that rando

[2018-11-19 05:38] sisyphsu commented on #417
thanks~

[2018-11-19 16:17] shavyg2 commented on #420
Just upgraded but still having the issue. Thanks for letting me know it's a yarn issue however.

[2018-11-19 16:17] #420 closed

[2018-11-22 03:55] dependabot[bot] opened #429 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based JavaScript dependencies. The affected dependencies were `styled-icons`.

To use path-based dependancies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-22 12:08] dependabot[bot] opened #431 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based JavaScript dependencies. The affected dependencies were `styled-icons`.

To use path-based dependancies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-24 02:51] #431 closed

[2018-11-27 23:02] Andruschenko opened #432 "Cross-browser compatibility: Font-Awesome icons are not visible in Firefox"
I used the newest version **v5.1.0** with font awesome icons.

Problem: The icons are visible in **Chrome** but not in **Firefox (63.0.3)**.

### How to reproduce:

1. Begin project with create-react-app
2. Add styled-icons **v5.1.0** to project
3. Use any font-awesome icon

[2018-11-27 23:11] jacobwgillespie commented on #432
@Andruschenko what version of `styled-components` do you have installed?

I created this CodeSandbox using `styled-icons` v5.1.0, and I am able to see the icon in Firefox 63.0.3: https://codesandbox.io/s/n0pjv37o4l.

Do you have a repo or CodeSandbox or similar that shows this issue?  I'd be happy to dig further to see what's going on.

[2018-11-27 23:37] Andruschenko commented on #432
`styled-components` version is `4.1.1`. Because of this issue I unfortunately moved on to use the `react-icons` library.

I checked an it doesn't work for me in Firefox with the versions `"styled-components": "^3.3.0"` and `"styled-icons": "^2.2.0"` in a former project.

I tried to recreate the error but in this CodeSandbox it is visible but in my project it still is not.

[2018-11-28 00:11] jacobwgillespie commented on #432
Gotcha - yeah there's an issue where if you're using Styled Icons >5 and Styled Components <4.1, the icons don't display.

I think I found the issue!  Here's the repo I'm using: https://github.com/jacobwgillespie/ff-styled-icons-reproduction.

The issue isn't `styled-icons`, the issue is the CSS in your `Element` link interacting with a Firefox bug.

You've set the width of the styled anchor eleme

[2018-11-29 02:18] ellsclytn commented on #272
Given Next is now using Webpack 4, I think this issue might be valid again:

I've been unable to use styled-icons via the ES Module import, even though we're now up to Next v7 (getting the `Unexpected token *` issue). I have an example that demonstrates the issue here: https://github.com/ellsclytn/next-styled-icons

[2018-11-29 03:03] jacobwgillespie commented on #272
@ellsclytn thanks for the reproduction - I was able to find a potential fix.  Let me get it cleaned up and I'll post back once it's ready.

[2018-11-29 06:15] jacobwgillespie commented on #272
@ellsclytn Okay, I created a new NPM package `next-plugin-styled-components`, which you can add to your `next.config.js` file to enable tree shaking with Styled Icons in a Next app.  Using it looks roughly like this:

[code]

Or with another plugin already in there:

[code]

Or with custom config:

[code]

There's more info in [the README](https://github.com/jacobwgillespie/styled-icons/tree/maste

[2018-11-29 09:24] t3kkitz opened #439 "5.2.1 Material icons index.js is empty"
5.2.1 Material icons index.js is empty, so material icons is not exist. 5.2.0 is OK

[2018-11-29 13:06] kadavrrr commented on #439
for me, only 5.1.0 works fine

[2018-11-29 13:11] t3kkitz commented on #439
Yeah, I just rush with issue and don't check for other errors. And fallback later to v4.3

[2018-11-29 16:06] jacobwgillespie commented on #439
Hey so sorry about that, looks like the build since v5.1.0 hasn't been properly reading those icons.  I just pushed out a fix for v5.2.2 and added a check so that this won't happen again.

It's available on NPM now!

[2018-11-29 16:07] #439 closed

[2018-11-29 21:57] ellsclytn commented on #272
Works perfectly! Thanks for getting on this so quickly 😄

[2018-11-29 21:58] jacobwgillespie commented on #272
Awesome, happy to hear!

[2018-11-29 21:58] #272 closed

[2018-11-30 00:54] jacobwgillespie commented on #432
I'm going to close this issue as I believe Styled Icons is functioning correctly - it just provides a bunch of SVGs after all - and the issue here is Firefox.  But feel free to post back in case anything comes up!

[2018-11-30 00:54] #432 closed

[2018-12-03 11:52] natsuhikok opened #448 "Warnings `Functions as object-form attrs({}) keys are now deprecated`"
Hi. I have warnings with every components imported from `styled-components`. Am I doing something wrong?

warnings:

[code]

component:

[code]

versions:

[code]

[2018-12-03 16:44] natsuhikok commented on #448
The warning is gone. I didn't realize until now but I need to restart the app with `npm start` after update node modules. Thank you for your help with this.

[2018-12-03 16:44] #448 closed

[2018-12-03 16:51] jacobwgillespie commented on #448
Awesome, glad it's working for you!  🎉

[2018-12-05 02:07] ellsclytn opened #452 "Client/Server className mismatch in Next.JS"
I've got a minimal reproduction of the issue here: https://github.com/ellsclytn/next-styled-icons

When using Styled Icons with Next.JS (and the associated with-styled-icons plugin), hot reloading works, but causes a browser console error and warning:

Error:

[code]

Warning:

[code]

This does not occur on an initial load immediately after server start, but rather only occurs when you perform a

[2018-12-06 16:47] jacobwgillespie commented on #452
Hey, so I spent some time digging into this and was not able to determine the cause.  My guess is that after hot reloading, the content passed to Styled Components is different than before, so it creates a new ID for the component.  Basically the build pipeline differs slightly somehow between the client and server, hence the className mismatch.

There are quite a few issues in the Next and Styled

[2018-12-06 20:59] ellsclytn commented on #452
Thanks for looking into it. I agree, not a *massive* problem given that it's merely in development mode that it gets seen.

Seeing as I'm using this in a fairly big project, I'll probably see it from time to time. In which case, I'll keep an eye out for potential solutions too

[2018-12-07 22:05] revskill10 opened #457 "Question: emotion.sh compatibility"
Could i use this library with [emotion.sh](https://emotion.sh) ?

[2018-12-12 14:46] fr3fou opened #460 "Wouldn't the website look better if it had white text instead of black text?"
I'm personally not a huge fan of the contrast between the title / intro and the icons themselves. Shouldn't they use one cohesive color scheme?

Compare this:

![](https://i.imgur.com/zWDbJgW.png)

With this:

![](https://i.imgur.com/8O1eilL.png)

I just quickly changed the colors in my browser ¯\\\_(ツ)_/¯

If someone else agrees, they could fork it and submit a PR idk

[2018-12-12 18:51] fr3fou commented on #460
Made the PR myself in #461

[2018-12-12 19:16] j-heavy commented on #460
Good idea!
@fr3fou is clearly versed in design

[2018-12-12 20:10] janosh opened #465 "attrs and as support?"
Hey Jacob, does `styled-icons` support `styled-components`'s [`attrs` constructor](https://www.styled-components.com/docs/api#attrs) and [`as` polymorphic prop](https://www.styled-components.com/docs/api#as-polymorphic-prop)?

I have a `Toggle` component on which I tried to use both but neither seemed to have any effect.
[code]

[2018-12-12 21:13] jacobwgillespie commented on #465
Hey @janosh, it should support those yes - let me take a look into this, it appears I may need to make some modifications to support those.  Right now, it looks like Styled Components is interpreting `as={Menu}` as `as="svg"` which leaves the icon tag unchanged and doesn't change its children.  I believe I know how to resolve this.

[2018-12-19 19:38] logusgraphics opened #477 "Custom icons"
Based on a custom SVG icon file I have, can styled icons be used as a mechanism to embed custom icons? How could I implement this feature in my project?

[2018-12-20 23:12] Betree opened #484 "Support on OpenCollective"
Hi there!

We've been using styled-icons for https://opencollective.com for some weeks now, and I've started using it on some of my personal projects. I'm really happy with this library and would like to say thanks, so I've pledged to give $5/month on https://opencollective.com/styled-icons

I'm sure other people would be happy to support the work that you're doing here :slightly_smiling_face:

[2018-12-20 23:30] jacobwgillespie commented on #484
Nice, thanks for the support!  I'll get OpenCollective set up here...  Right now, the flow for claiming the collective doesn't seem to be functioning:

<img width="553" alt="screenshot 2018-12-20 17 29 26" src="https://user-images.githubusercontent.com/130874/50316595-e4a53980-047c-11e9-90f5-bc43f97eefea.png">

[2018-12-21 09:16] Betree commented on #484
Well this is not good, sorry about that :disappointed: I've opened an issue and will keep you updated very soon.

[2018-12-21 18:37] jacobwgillespie commented on #484
Awesome, thanks for the quick turnaround, I was able to claim the collective!  🎉

[2018-12-21 18:37] #484 closed

[2018-12-21 20:20] Betree commented on #484
I've made a first donation from my personal account, will start monthly support using Open Collective gift card in January :wink: Thanks again for the great work, hope you'll get the support this deserves!

[2018-12-21 20:48] jacobwgillespie commented on #484
Awesome, thank you so much!  I appreciate it and am glad you're finding the project useful.  👍

[2018-12-21 20:49] jacobwgillespie commented on #477
Hey @logusgraphics this isn't possible currently, but I've started work on the next version of this package which will have the ability to create custom icons alongside the built-in ones.  So stay tuned...  🙂

[2018-12-23 22:59] #465 closed

[2018-12-23 23:18] jacobwgillespie commented on #465
Thanks for your patience @janosh, this should be fixed in v5.7.0!  🎉

[2018-12-24 00:54] Betree opened #491 "Integrate IcoMoon icons"
I don't especially need it, but I've used [IcoMoon](https://icomoon.io/#icons-icomoon) in the past. They have a large set of good-quality icons, with a good part licensed under GPL / CC BY 4.0 and provide a variety of formats (including SVGs).

See their free 490 icons here: https://icomoon.io/#preview-free

If it's easy to integrate, I think it would be a nice-to-have :slightly_smiling_face:

[2018-12-24 11:18] janosh commented on #465
@jacobwgillespie Thanks a lot for the fix! I can confirm both `attr` and `as` are working under v5.7.0.

[2018-12-24 15:21] #491 closed

[2018-12-24 17:41] jacobwgillespie commented on #491
Good idea, these have been added in v5.8.0! 🎉

There's currently an issue displaying them on the icon explorer website, but the build that's building now should deploy and resolve in the next few minutes.

[2018-12-24 17:52] jacobwgillespie commented on #491
Deploy successful!  https://styled-icons.js.org/?s=icomoon

[2018-12-24 23:15] Betree commented on #491
Wow that was fast @jacobwgillespie :smiley: Happy holidays to you!

[2018-12-24 23:17] Betree commented on #491
I found a bunch of other libraries that were listed on icomoon. Do you have a rule about what should be added or not (except the license)? Should I open issues to list them?

[2018-12-25 00:06] jacobwgillespie commented on #491
Awesome - happy holidays to you as well!

Cool, yeah no rule besides license - at some point I really need to revamp the website so that you can filter by icon pack, etc, but yeah if you have other packs you'd like to see, feel free to send them over!

[2018-12-25 08:00] Betree opened #496 "Icon pack proposal: Entypo+"
- Name: `Entypo+`
- License: `CC BY-SA 4.0`
- NPM package: [entypo](https://github.com/hypermodules/entypo)
- Website (if any): http://www.entypo.com/

![Preview](https://github.com/hypermodules/entypo/raw/master/screenshot.png)

[2018-12-25 08:03] Betree opened #497 "Icon pack proposal: Zondicons"
- Name: Zondicons
- License: `CC-BY-4.0`
- NPM package: [zondicons](https://www.npmjs.com/package/zondicons)
- Website (if any): https://www.zondicons.com

![Preview](https://user-images.githubusercontent.com/1556356/50417008-e3c92a80-0823-11e9-9b14-3dcd2e751085.png)

[2018-12-25 08:05] Betree opened #498 "Icon pack proposal: Typicons"
- Name: `Typicons`
- License: `CC BY-SA 3.0`
- NPM package: [typicons.font](https://www.npmjs.com/package/typicons.font)
- Website (if any): https://www.s-ings.com/typicons/

![Preview](https://user-images.githubusercontent.com/1556356/50417055-3efb1d00-0824-11e9-9d69-18ed721a1f03.png)

[2018-12-25 08:10] Betree opened #499 "Icon pack proposal: Open Iconic"
- Name: `Open Iconic`
- License: `MIT License`
- NPM package: [open-iconic](https://www.npmjs.com/package/open-iconic)
- Website (if any): https://useiconic.com/open/

![Preview](https://user-images.githubusercontent.com/1556356/50417147-e2e4c880-0824-11e9-89ac-55b30d40303a.png)

[2018-12-25 08:31] Betree opened #500 "Icon pack proposal: Evil Icons"
- Name: `Evil Icons`
- License: `MIT`
- NPM package: [evil-icons](https://www.npmjs.com/package/evil-icons)
- Website (if any): http://evil-icons.io/

![image](https://user-images.githubusercontent.com/1556356/50417626-c5652e00-0827-11e9-9eee-e180c77454dd.png)

[2018-12-25 08:33] Betree opened #501 "Icon pack proposal: Foundation Icons"
- Name: `Foundation Icons`
- License: `MIT`
- NPM package: [@icon/foundation-icons](https://www.npmjs.com/package/@icon/foundation-icons)
- Website (if any): https://zurb.com/playground/foundation-icon-fonts-3

![image](https://user-images.githubusercontent.com/1556356/50417726-33115a00-0828-11e9-8485-c5be2de0cf1f.png)

[2018-12-25 10:08] Betree opened #502 "Duplicated SVG path in exported file"
As of today, an exported icon looks like that:

[code]

Though JS code optimizers probably know how to optimize that, we could reduce the bundle size by extracting the path to a top-level variable:

[code]

<details>

<summary>See the full exported Filter icon</summary>

[code]

</details>

[2018-12-26 00:09] jacobwgillespie commented on #502
This should already be fixed in v5.7.0 - Styled Icons are now real React components (using `React.forwardRef`) rather than what's above using `.attrs`.  The previous approach broke the ability to use the `as` prop or to use `attrs` to customize anything (#465).  The fix for that, as a side effect, no longer duplicates the icon definition and represents the SVGs as normal JSX.  👍

I just published

[2018-12-26 00:09] jacobwgillespie commented on #452
@ellsclytn I believe I found the fix, which has been released as v6.0.0! 🎉

The issue seems to be that if you have `babel-plugin-styled-components` in your Babel config, it only applies to components created in your project, not in libraries (code in `node_modules`).  That's fine for dependencies generally, but if you wrap a Styled Icon component in `styled()` the SC component ID for the base icon

[2018-12-26 00:10] #502 closed

[2018-12-26 14:50] #498 closed

[2018-12-26 15:19] alexmironof opened #505 "Icon pack proposal: Cryptocurrency Icons"
- Name: `Cryptocurrency Icons`
- License: `CC0-1.0`
- NPM package: `https://www.npmjs.com/package/cryptocurrency-icons`
- Website (if any): `http://cryptoicons.co/`

[2018-12-26 16:20] jacobwgillespie opened #506 "Support color icons"
As of right now, all icons inherit their color from the current context, but there are some icon packs with colored icons, or even icons with multiple colors.  Investigate supporting those icons and design an API for enabling / disabling colors.

[2018-12-26 21:59] ellsclytn commented on #452
It'll be another week or so before I can give it a try, but that fix makes a lot of sense - thanks for finding it!

[2018-12-26 22:59] jacobwgillespie commented on #452
Awesome, I'll close this issue since it seems like it fixed things for me, but feel free to post back if it's still broken on your end. 👍

[2018-12-26 22:59] #452 closed

[2018-12-27 11:07] ofersarid opened #508 "https://styled-icons.js.org is not loading the icons"
404 error in the console.

[2018-12-27 13:34] #505 closed

[2018-12-27 13:36] jacobwgillespie commented on #508
Thanks for reporting this, the fix is deploying now...

[2018-12-27 13:57] jacobwgillespie commented on #508
Deployed, the icons are back - thanks again!

[2018-12-27 13:57] #508 closed

[2018-12-27 13:58] jacobwgillespie commented on #505
Thanks for the proposal, this has been released in v6.2.0! 🎉

[2018-12-27 20:18] alexmironof commented on #505
Awesome thanks!

[2019-01-04 18:40] janosh commented on #465
One issue that I believe arose due to this fix is that I now get about a dozen React warnings in the browser console along the lines of

Is there a way for `styled-icons` to intercept invalid DOM attributes and prevent them from reaching DOM nodes?

[2019-01-05 09:55] janosh commented on #465
Excellent! Thanks for the quick response. Fix confirmed.

[2019-01-14 19:52] hanoii opened #528 "If I want to use an icon on a ::before{content} property, is this possible with this library?"

[2019-01-16 14:16] iliyanyotov opened #531 "Problem using named imports (fa-solid)"
**Describe the bug**
The error is being shown when bundling the app and using the example import shown below:

`import { User, SignOutAlt, AngleDown } from 'styled-icons/fa-solid';`

[Image of the error](https://imgur.com/9kLHkSt)
[tsconfig.json](https://gist.github.com/iliyanyotov/7d74fdb63194dfa8e521abaa58742101)

Using the `.cjs` imports work fine but we are dragging a lot of unused icons (all

[2019-01-17 19:51] jacobwgillespie commented on #528
I think this is not directly possible - this library provides icons as React / Styled Components, and as far as I'm aware, it's not possible to use a React component in a `::before{content}` CSS property.

I'll let you know if this is possible in the future, in the meantime I'll close this issue.

[2019-01-17 19:51] #528 closed

[2019-01-21 11:43] iliyanyotov commented on #531
We are using `webpack` with `babel-loader`, transpiling React and Typescript using respectively `@babel/preset-react` and `@babel/preset-typescript`.

Versions:

Babel configuration: [.babelrc](https://gist.github.com/iliyanyotov/4e7622898051239687fe349981138393)

[2019-01-21 13:58] jacobwgillespie commented on #531
Hey, thanks for the extra detail - Webpack 4 should be supported here.  Can you share your Webpack config?  That should show exactly what Webpack would do with a file inside `node_modules`.

[2019-01-23 11:31] iliyanyotov commented on #531
The webpack config is deconstructed across multiple files so it's reusable for the different parts of our app, but most of the stuff are pretty standard. I think the biggest configuration is within the `.babelrc` and the `tsconfig.json `files.

[babel loader](https://gist.github.com/iliyanyotov/4410fdac81ea76628cd79a349f07a27a)

Let me know if you want anything more specific.

[2019-01-23 15:22] jacobwgillespie commented on #531
Thanks for the additional details - one more question, do you have a server-side render or a prerender component to your app?  I'm just now noticing that the original error is a Node stacktrace, not a Webpack error.

If you do have something running in on the server, can you describe how that's built and run?

[2019-01-24 16:35] jacobwgillespie commented on #531
Cool, I think I have an idea of what's going on. I'll assume that you also use Webpack on the server-side to pre-process the JavaScript, but see below if not.

When your Webpack config builds the JavaScript for the client-side bundle, it packages your application code as well as all your dependencies into the resulting JavaScript files - therefore `styled-icons` source code is also included in the

[2019-01-25 10:42] iliyanyotov commented on #531
First of all, thanks for the extensive response and help with the issue!

Yes, we are using `webpack-node-externals` and it works flawlessly after the library is added to the whitelist property in Webpack.

The only problem left with the imports is now happening in the tests with `Jest`, and I think we need to configure `transformIgnorePatterns` to include `styled-icons`, but that didn't work.

[I

[2019-01-25 15:03] jacobwgillespie commented on #531
Nice, glad to hear it's working!

This is what I have for Jest - I think the difference is I'm matching the entire file path, so maybe that's what makes the difference?

[code]

[2019-02-06 10:21] iliyanyotov commented on #531
Sorry for the delayed response, but this pattern didn't work, maybe we have something specific in our jest config.

Will upload the config we are using later today. Thanks!

[2019-02-10 02:32] Roman971 commented on #531
My Jest tests have exactly the same type of errors when using the non `.cjs` imports.
When it comes to the config I'm only using the base create-react-app config. I also tested it on a fresh create-react-app project and doing any non `.cjs` styled-icons import broke tests. I also tried using `transformIgnorePatterns` but it didn't help either.

Everything works fine when using the `.cjs` versions

[2019-02-10 03:29] jacobwgillespie commented on #531
@Roman971 would you be able to provide the entirety of your `jest` config from `package.json` (or even better, the whole `package.json` with Jest config and dependencies)?  I'd be happy to take a look if I can get a reproducible example.

[2019-02-10 13:51] Roman971 commented on #531
I don't have an actual Jest config since I'm using create-react-app.

If you want to reproduce it, those are the steps I did that lead me to broken tests:

- create a fresh project with `npx create-react-app test-styled-icons`
- install `styled-components` and `styled-icons` with `npm i styled-components styled-icons`
- add any styled-icons import to `App.js`, for instance `import { Github } from

[2019-02-12 04:58] jacobwgillespie commented on #531
Ah, I see what's going on, and it looks like Jest running inside `create-react-app` actually won't let you customize the `transformIgnorePatterns` since it's not in the list of approved Jest config overrides.

I believe I found a workaround that's even better, where any of the `styled-icons` imports automatically work with both CommonJS for Node / Jest / Next.js server and with ESM for Webpack, Ro

[2019-02-12 08:25] Roman971 commented on #531
Thanks, it works fine on my end now after updating to v7.0.0 and changing the imports.

[2019-02-12 21:08] caseylucas opened #607 "Typescript type errors in strict mode"
When using styled-icons with create-react-app (although I doubt that matters) and typescript configured in "strict" mode (the default for create-react-app), an error is generated when performing a production build.

All of the generated *.tsx files have the same error. An example:

[code]

This error can be fixed by casting the empty object on line 27:
[code]

But then another error occurs:

[code

[2019-02-12 23:21] jacobwgillespie commented on #607
Thanks for this!  I think partially the issue is that the `.tsx` files are accidentally ending up inside the bundle, so I should get those removed, but this should allow me to build with `"strict": true` inside this repo, which apparently wasn't already the case.

[2019-02-13 00:09] jacobwgillespie commented on #607
This has been released as v7.0.1 - thanks again!

[2019-02-13 00:09] #607 closed

[2019-02-13 05:51] jacobwgillespie commented on #531
I'm going to close this as I believe this should now be fully resolved, but @iliyanyotov if anything's still broken, let me know and I'll re-open.  You will want to:

1. Upgrade to v7.0.0+
1. Remove any `.cjs` imports
1. Remove `styled-icons` from `webpack-node-externals` config (no longer necessary)
1. Remove `styled-icons` from `transformIgnorePatterns` (no longer necessary)

Basically after v7.

[2019-02-13 05:51] #531 closed

[2019-02-13 06:05] jacobwgillespie commented on #477
Hey just wanted to let you know I haven't forgotten about this issue - custom icons aren't _quite_ ready yet, but the latest release (v7.1.0) starts to lay the groundwork for supporting custom icons.

If you'd like to provide some API feedback, you can try importing from an internal `StyledIconBase` component.  I'd be curious to know how custom icons would be used in the wild.

**DISCLAIMER:** thi

[2019-02-13 09:32] Betree opened #614 "Can't resolve '../../StyledIconBase'"
I tried to upgrade from 6.4.0 to 7.1.0 today and hit the following error:

[code]

I guess it comes from https://github.com/jacobwgillespie/styled-icons/pull/612, probably because we don't use Typescript? I've downgraded to 7.0.0 and it works correctly.

Otherwise thanks for the automatic support of CommonJS and ES Modules code, that's a great change for us!

[2019-02-13 12:13] jacobwgillespie commented on #614
Thanks for catching this - not TypeScript, just a misconfiguration on my part that omitted that file from the NPM package. 😞 I really need to get integration tests running that use the `.tgz` from `npm pack` to catch stuff like this.

It's building now and should be fixed in `v7.1.1`.  It does speed up TypeScript type-checking quite a bit, but you may also see some frontend performance improvement

[2019-02-13 14:30] logusgraphics commented on #477
I was using a similar approach/pattern for custom icons. I created a base component and then the icon was the SVG passed as props. Will look into it deeper to see how it could integrate well with the pattern you're proposing. Thanks.

[2019-02-13 15:36] jacobwgillespie commented on #614
This has been fixed in `v7.1.1` - sorry for the disruption!

[2019-02-13 15:36] #614 closed

[2019-02-19 11:52] aakhan89 commented on #528
Any luck ?

[2019-02-19 11:57] aakhan89 opened #625 "How to set size, color, etc.. to all styled icon"
I have a file styledIcon.js and I am using below icons in different components, So I want to set set globally all icon size is "14px" and other things like color etc..

so how can it possible

`import { ExternalLinkSquareAlt } from 'styled-icons/fa-solid/ExternalLinkSquareAlt';
import { Phone } from 'styled-icons/icomoon/Phone';
import { Email } from 'styled-icons/material/Email';

export { Extern

[2019-02-19 12:22] StorytellerCZ commented on #625
I would just create a file where I would apply the styling and export the new variables.

[2019-02-19 12:34] aakhan89 commented on #625
Can you please share example

[2019-02-19 16:56] jacobwgillespie commented on #528
@aakhan89 it doesn't look like React supports this, no - `::before{content}` can only be a string.  You're likely better off wrapping the element in another element like a `<div>` and using CSS positioning to place the icon:

[code]

[2019-02-20 06:46] aakhan89 commented on #625
Hi,

Thank you for you reply, i tried the above but not working

[2019-02-20 16:30] jacobwgillespie commented on #625
Can you share the code that's broken?  What about it isn't working?

[2019-02-22 09:32] janosh commented on #506
That would be a very useful feature! Also, thanks for all the work you're putting into `styled-icons`. v7 was a great update!

[2019-02-27 11:49] zenVentzi opened #644 "Typescript "css" prop missing"
For example, in js I have the following code, working just fine:
[code]

now rewriting in TS, I get the error that css prop does not exist. Does it not? Now I'm with the latest version of styled-icons, before I used to be with 2.something. Are there any changes or just the type is missing?

[2019-02-27 17:02] jacobwgillespie commented on #644
Hey, so that's an implementation detail of Styled Components's TypeScript types.  They have intentionally left out the `css` prop from the types as otherwise just having `styled-components` anywhere in your dependencies would add that type to every React component, which might not be what you intend (since you need the Babel plugin running for that prop to work).

You can opt-in to that type via s

[2019-02-27 17:02] #644 closed

[2019-02-27 17:06] jacobwgillespie commented on #625
I'm going to close this, but if it's still not working for you, feel free to post back with a [CodeSandbox](https://codesandbox.io/) example and I'd be happy to see what's broken.

[2019-02-27 17:06] #625 closed

[2019-03-03 11:07] zenVentzi commented on #644
In case somebody else stumbles upon this issue and the above doesn't work out of the box, check out [this ](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/31245)thread. Basically for me I had to use `import * as types from 'styled-components/cssprop'` [because ](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/31245#issuecomment-463640878)of babel 7 with typescript & webpack.

[2019-03-04 09:16] leworking opened #657 "Is there any way to use icons with a <i> or <img> tag instead of the <svg> tag?"
I find difficult to style the imported icons, mainly referring to the dimensions, "white" space around the icon, etc. Perhaps an easier way would be to use the icons within an `<i>` or `<img>` tag.

Is this possible?

[2019-03-04 16:37] jacobwgillespie commented on #657
Possibly - depending on what you're trying to accomplish.  You can always wrap Styled Icons in your own custom component and thus surround the SVG tag with something else:

[code]

Then you can do something like:

[code]

If you'd like to instead _replace_ the SVG tag with something else, that's likely not possible here, since this library's goal is to provide SVGs as React/Styled components.

You

[2019-03-05 08:39] leworking commented on #657
Thanks, a great explanation :)

My motivation was that the only way to adapt some `svg` icons was through `viewbox`, and that cannot be modified through `css`. One possibility was to build the svg tag somehow, or to change the tag altogether (and then the question).

At the end though this is too overkill, and I'll just stick to icons that don't have this extra-space around.

[2019-03-05 08:39] #657 closed

[2019-03-05 09:09] Kodemon opened #659 "Cannot read property 'StyledIconBase' of undefined"
Attempting to import an icon leads to the error reported in the title of this topic:

[code]

Resulting error output:

[code]

We are using the fuse-box bundler for typescript. Our tsconfig.json is as follows

[code]

Our fuse-box configuration:

[code]

We have tried various ways of making styled-icons work with fuse-box, and at this point we don't know if  its because of fuse-box itself or a mis

[2019-03-05 09:13] mattgi commented on #659
Switching to use aliasing to point to the esm entry points results in a rabbit hole as some of the `../../` imports in the icons themselves cannot find their dependencies (`import { StyledIconBase } from '../../StyledIconBase';`).

We also run in to issues with icon library dependencies like `ThreeDRotation` being undefined.

[2019-03-05 10:53] Kodemon commented on #659
Looking at the https://github.com/jacobwgillespie/styled-icons/issues/614 ticket I attempted to revert from 7.2.0 => 7.0.0 and it is not importing without errors.

[2019-03-05 11:52] zenVentzi opened #660 "Expose the custom StyledIconProps"
Hi, I have cases where I want to create some default components, e.g.

[code]

Problem is with the props: any. I tried importing StyledIconProps from the base directory but the types are incompatible.

The goal is to be able to do sth like:
`
import { Menu, MenuProps } from "styled-icons/material/Menu";
`

and then `(props: MenuProps)`

or any other solution that will help not use any types.

[2019-03-05 17:19] jacobwgillespie commented on #660
This should already exist as `import {StyledIconProps} from 'styled-icons/types'`, so something like:

[code]

While verifying that worked, I discovered that the `ref` prop was incorrectly typed inside `StyledIconProps`, so that fix has been released as `v4.7.1` - you'll want to upgrade to ensure the above approach works.

Also note you may want to use `React.FC` instead of typing the `props` dire

[2019-03-05 18:54] jacobwgillespie commented on #659
@Kodemon I did some digging into what's going on, and it looks like there's two different issues with FuseBox that are affecting this:

**First,** FuseBox is not resolving the `main` or `module` fields in `package.json` with extensions - for instance, the `package.json` for `PlusCircle` currently looks like this:

[code]

In every other bundler I've tested, it has added the `.js` extension when at

[2019-03-06 00:22] mattgi commented on #659
using
[code]
works for me (also using fusebox). Thanks for taking the time to look at fusebox import issues... confusing!

[2019-03-06 00:59] hugomatinho opened #666 "(in)compatibility with react-native"
Is any compatibility with react-native planned or expected?

[2019-03-06 02:08] Kodemon commented on #659
Thanks for the informative reply, will be going with your suggested partial workaround.

[2019-03-06 02:08] #659 closed

[2019-03-06 05:40] jacobwgillespie commented on #657
Oh interesting, @leworking do you have any examples or code snippets that produce that issue?  If there's something wrong with the icons themselves like extra space, it's possible I may be able to fix that in the icon preprocessor here.

[2019-03-06 06:25] zenVentzi commented on #660
Just updated to `v4.7.2` but still getting errors. Code:

[code]

Error:

[code]

[2019-03-06 06:30] zenVentzi commented on #660
Awesome, appreciate it! v7.4.2 works as expected.

P.s. if somebody reads this and it doesn't work, I had to restart VSCode after the package update.

[2019-03-06 19:48] jacobwgillespie commented on #660
Awesome, glad that worked!

[2019-03-06 19:48] #660 closed

[2019-03-06 22:17] leworking commented on #657
It was just importing an arrow icon that I liked, and then I couldn't style it well enough. It had a significant padding around it, as if it was a bitmap with real blank space, not cropped.

Then I realized it wasn't one of the FontAwesome free icons (don't remember which was though), and I tried one of those and it didn't have that padding, so problem solved. Before that, I saw that I could modif

[2019-03-13 08:14] vbartonicek opened #676 "Referring styled-icon in styled component breaks styles"
Passing styled-icon into styled components styles (https://www.styled-components.com/docs/advanced#referring-to-other-components) breaks styling of all styled components.

Example:

[code]

If I remove the CommentCount component it works as expected.

Workaround is to replace `${Comment}` with `svg`.

The issue happens on local environment only, on production it seems it work as expected as far we

[2019-03-13 08:17] StorytellerCZ commented on #676
Another caveat, when you open the component on the first time or refresh it works fine, but when you navigate away and back it is broken.

[2019-03-14 12:30] meshelton commented on #477
Would it be possible to extract the component generation code into a cli so custom icons could be made as a step in the build process?

[2019-03-14 17:28] jacobwgillespie commented on #477
Most likely yes - I've been slowly working on this feature, and after complete, Styled Icons will read the icon SVG data as a JSON file, so it should be fairly straightforward to have a CLI that converts existing SVG files into that JSON format.

[2019-03-15 17:03] jacobwgillespie commented on #676
@vbartonicek or @StorytellerCZ would either of you be able to create a repo to demonstrate this issue?  I tried to recreate with a CodeSandbox (https://codesandbox.io/s/jvjl0k49zw) but wasn't able to reproduce the behavior you're describing.  I'd be happy to take a look if I can get access to the bug.

[2019-03-19 09:35] StorytellerCZ commented on #676
@jacobwgillespie I'll try to expand on your sample when I get some time. I think the critical thing will be the inclusion of a router or dynamic changes that are happening in our case.

[2019-04-05 09:10] berndschimmer opened #730 "Update material ui source to a more recent source"
Hi,

the materail ui source on github (https://github.com/google/material-design-icons) is 3 years old and doesn't seem to be maintained any more.
Please update to a more recent source like:
https://github.com/cyberalien/google-material-design-icons-updated

Thx!

[2019-04-24 16:22] linonetwo opened #772 "Element type is invalid"
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.

[code]

In 2.3.1 it logs `ƒ a(){return b(this,a),C(this,e.apply(this,arguments))}`

But in 7.10.0 it logs `{$$typeof: Symbol(react.forward_ref), render: ƒ, displayName: "Close"}` and React throws error.

[2019-04-25 04:27] jacobwgillespie commented on #772
Hey, I can take a look at this - would you be able to share the React version you are using?  If you’re able to create a CodeSandbox or repo with the issue too that would be awesome

[2019-04-25 04:38] linonetwo commented on #772
Oh, I'm in:

[code]

Repo is difficult to share, because it's a terminal's plugin https://github.com/linonetwo/hyper-visual/blob/master/src/components/MainPanel.js#L9

Maybe it's caused by outdated styled-components?

https://stackblitz.com/edit/react-rpwzcw

[2019-04-25 15:50] jacobwgillespie commented on #772
Ah, nice, I use Hyper as well, `hyper-visual` is cool 👍

Yep!  I believe that's the issue, the breaking change for v4.0.0 of `styled-icons` was requiring at least v4.1.0 of `styled-components`.

I took a look a the [CHANGELOG](https://github.com/jacobwgillespie/styled-icons/blob/master/CHANGELOG.md) and your code, and that's the only breaking change I think would affect `hyper-visual`, so most lik

[2019-04-26 04:44] linonetwo commented on #772
Thank you, I found that styled-components depends on latest react-dom for `forwardRef`, but when I upgrade react-dom, it throws ( so I downgrade it and then found what I stated in this issue )

I'm closing this untill hyper upgrade it's react-dom.
https://github.com/zeit/hyper/issues/3573

[2019-04-26 04:44] #772 closed

[2019-04-26 18:42] jacobwgillespie commented on #772
Cool, glad we found the issue source, hopefully `hyper` upgrades shortly 👍

[2019-05-01 11:30] loxaxs opened #785 "yarn error:"
Installing `styled-icons` through yarn triggers an error twice, then succeeds
...and I believe that the two errors happen again for each subsequent package addition via `yarn add`.

At the first error, yarn blame the file `fa-solid/BreadSlice/BreadSlice.js`. At the second, it blames `fa-solid/ArrowAltCircleLeft`. Both files are from the FontAwesome icon set.
Full output below.

Googling the error

[2019-05-01 11:55] loxaxs commented on #785
Also, in case that's usefull

[code]

[2019-05-01 18:34] jacobwgillespie commented on #785
Very strange - I don't think this is an issue with `styled-icons`, you're probably running up against an issue with Yarn, probably exacerbated by the fact that there's a lot of files inside `styled-icons`.  You may want to open a bug report in the Yarn project, especially since it eventually succeeds.

Your file paths mention `/mnt/c` - are you using Windows Subsystem for Linux?  If so you may wan

[2019-05-02 18:03] #785 closed

[2019-05-08 16:54] #500 closed

[2019-05-15 20:45] stramel opened #814 "Tree Shaking isn't working"
We are using `styled-icons/material` with TypeScript in our CRA v3 app and when running `source-map-explorer` it is revealing that the entire `material` icon pack is being included in our production build.

For now we are working around by doing an import per icon which reduced our bundle size by ~600KB. Would love to be able to import from the icon pack level.

[2019-05-16 04:52] #814 closed

[2019-05-16 04:54] jacobwgillespie commented on #814
Thanks for this catch!  I'm not sure if this is something that was broken by me in `styled-icons` at some point a while ago, or if perhaps the latest Create React App picks up some Webpack updates that caused this situation.

Either way, I've fixed by marking everything with `styled-icons` as side-effect free, so Webpack / CRA v3 will now properly tree-shake.

It's building now and will release in

[2019-05-16 09:15] Alwox opened #817 "Error for all icons when using with TypeScript"
When I want to use some icon im my project with TypeScript I'm getting errors like this:
[code]
for all icons (more than 1800 errors). And Im importing only one icon.

Also I would like to import them like this `import { Home } from 'styled-icons/fa-solid';` but it also cause error
```Error:(29, 12) TS2740: Type '{ size: string; title: string; }' is missing the following properties from type 'Pick

[2019-05-16 14:30] jacobwgillespie commented on #817
Hey, can you share which version of `styled-components` and `@types/styled-components` and `@types/react`?  I've seen this error before when either of the types packages are out of date (and thus are missing the ARIA attributes).

[2019-05-16 17:41] Alwox commented on #817
`"styled-components": "4.2.0"`
`"@types/styled-components": "4.1.8"`
`"@types/react": "16.8.13"`

[2019-05-16 17:47] jacobwgillespie commented on #817
Cool, it looks like the issue is with `@types/react` - you are using v16.8.13.  In v16.8.14, the ARIA attributes were added to SVGs.  Can you try upgrading to that version, or to the latest 16.8.17?  That should resolve.

[2019-05-16 18:00] Alwox commented on #817
Thank you! Works like a charm 🎉  Maybe info about it could be added to readme?

[2019-05-17 14:41] stramel commented on #814
@jacobwgillespie Thanks for the quick fix! I just verified on the project I noticed it on and v7.15.1 does fix it!

[2019-05-17 15:46] jacobwgillespie commented on #817
Nice, glad we found the cause - I added a note to the README.  Thanks again!

[2019-05-17 15:46] #817 closed

[2019-05-21 18:35] janosh opened #821 "export 'Package' was not found in 'styled-icons/feather/Package'"
A recent release (I updated from 7.11.0 to 7.15.1) seems to have broken some exports. I get a few warnings such as this one:

[code]

[2019-05-22 22:58] jacobwgillespie commented on #821
Hey @janosh thanks for the report, let me investigate on my end.  One quick check, I am seeing [the correct export](https://unpkg.com/styled-icons@7.15.1/feather/Package/Package.js) in the npm package, can you try removing your `node_modules` directory and re-installing via npm/yarn?  Just want to rule out a file being missing or empty accidentally.

[2019-05-23 09:56] janosh commented on #821
I reinstalled `node_modules` twice now, once before posting but the problem remains. In case it helps to identify the issue, this is what the file `Package.d.ts` (which is where `import { Package } from 'styled-icons/feather/Package'` points at) looks like at my end:
[code]

[2019-05-23 23:52] Thenegotiator14 opened #822 "Issue after installing styled-icons: Uncaught Error: Cannot find module "./Package""
I am trying to use icon components from boxicons-refular and from feather but I keep getting this error:

Uncaught Error: Cannot find module "./Package"
    at Object../node_modules/styled-icons/boxicons-regular/index.esm.js (index.esm.js:1)
    at __webpack_require__ (bootstrap dc6288451e0e3c5e8494:678)
    at fn (bootstrap dc6288451e0e3c5e8494:88)
    at Object../src/Containers/Notifications.js

[2019-05-25 18:05] jacobwgillespie commented on #676
I haven't been able to reproduce this issue locally - I'm going to close this issue for now, but feel free to post back if you're able to share an isolated reproduction, I'd still be happy to take a look!

[2019-05-25 18:07] #821 closed

[2019-05-25 18:07] #822 closed

[2019-05-25 18:13] jacobwgillespie commented on #821
I found the issue, it was that on case-insensitive file systems, certain bundlers were trying to load the `package.json` file instead of the `Package` directory for that icon - I fixed the issue in #823 by renaming the `Package` icons to `PackageIcon` instead, to eliminate the naming conflict.

CI is building now, and the fix should be released shortly as v8.0.0.

[2019-05-25 18:13] jacobwgillespie commented on #822
Thanks for the report!  I found the issue, it was that on case-insensitive file systems, certain bundlers were trying to load the `package.json` file instead of the `Package` directory for that icon - I fixed the issue in #823 by renaming the `Package` icons to `PackageIcon` instead, to eliminate the naming conflict.

CI is building now, and the fix should be released shortly as v8.0.0.

[2019-05-25 18:56] janosh commented on #821
Nice, now it works! Thanks for the quick help as always. Out of curiosity, do you know why it worked before in 7.11.0? Did something about the bundler change?

[2019-05-25 18:59] jacobwgillespie commented on #821
No problem!  I accidentally broke it in v7.15.1 - that version fixed an issue where the `package.json` file was omitted from the build, which caused tree shaking to fail.  But then by adding the file back, it caused this issue.  It wasn't caught in CI testing since the Travis CI linux environment has a case-sensitive filesystem.

tl;dr is it accidentally worked thanks to another bug, and fixing th

[2019-05-30 21:05] K-Kit commented on #420
I just ran into this error as well, if anyone else comes across it this worked for me.
`yarn add https://github.com/FortAwesome/react-fontawesome.git`

[2019-05-30 22:28] CristianWesleyFront opened #828 "Unhandled Rejection (Error): Cannot create styled-component for component: [object Object]"
Instalei esse pacote via npm, porem por algum motivo que não consegue identificar essa mensagem de erro aparece, já tentei reinstalar varias vezes , tanto o styledComponents , styledIcons, @types/react , utilizar numa tela apenas o código de teste :
import styled from 'styled-components'
import {Zap} from 'styled-icons/octicons/Zap'

const RedZap = styled(Zap)`
  color: red;
`

const App = () => <

[2019-06-02 21:18] jacobwgillespie commented on #828
Can you let me know which version of `react` and `styled-components` you are using?  If you are able to create an example of the problem as a https://codesandbox.io or GitHub repository, that would be helpful - I would be happy to help!

[2019-06-03 17:13] CristianWesleyFront commented on #828
sorry, but now I realized that my dependence on the styled component was not in the last version of the project, thank you

[2019-06-03 17:21] jacobwgillespie commented on #828
Great, glad you were able to get it to work! 👍

[2019-06-03 17:21] #828 closed

[2019-06-07 13:34] zenVentzi opened #850 "Rankings icons"
Excuse me for not using the template, but it probably doesn't fit my proposal. A simple google search of ["rankings icon"](https://www.google.com/search?q=rankings+icon&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiPva2nvdfiAhWp5KYKHaKKAe4Q_AUIECgB&biw=2048&bih=963) gives examples of what I am referring to.

[2019-06-08 04:16] jacobwgillespie commented on #850
Thanks for opening the issue!  Do you know of any open-source icon packs that include a rankings icon?  I did a quick check on those Google results and didn't fine one, most of them are paid individual icons.

But if there is an icon pack that's open-source and includes such an icon, I would be happy to get it integrated!

[2019-06-08 11:17] zenVentzi commented on #850
Appreciate the feedback! I understand. I will let you know if I stumble upon any :)

[2019-06-12 21:21] nathanvale commented on #477
Hey there any chance this feature is nearing production ready?

[2019-06-18 17:23] ismaelheinen commented on #730
Yeah this is important to allow use of different type of material icons, like, outlined, rounded and sharp.

https://material.io/tools/icons/?style=baseline

Super expected feature.

Thanks

[2019-06-19 19:19] aretecode opened #870 "[site] reddit icon is black when all others are white"
https://styled-icons.js.org/
<img width="623" alt="Screen Shot 2019-06-19 at 12 18 54 PM" src="https://user-images.githubusercontent.com/4022631/59793870-7a831b00-928c-11e9-9c41-7b328009978b.png">

[2019-07-03 14:01] r-inaldi opened #887 "Include "xmlns" attribute by default"
Any chance to include `xmlns="http://www.w3.org/2000/svg"` by default?

`background-image: url()` only accepts svg strings with this attribute.

I know I can pass as a prop but in the end it's annoying and it's not a big problem to have it as default prop.

Great lib btw.

[2019-07-19 00:03] stramel commented on #730
Would love to see this update. Was looking for `DragIndicator` and couldn't find it.

[2019-07-19 14:51] jacobwgillespie commented on #730
Does anyone have a link to such a source?  I would be happy to update, however https://github.com/cyberalien/google-material-design-icons-updated isn't published to NPM and is missing a `version` in its `package.json`, and `@mdi/svg` has a ton of user-submitted icons but isn't up to date with the official Material icons.

[2019-07-19 14:51] #850 closed

[2019-07-19 15:01] #887 closed

[2019-07-19 15:03] jacobwgillespie commented on #887
Hey, thanks for the suggestion, just added this, and it will be released in a few minutes after the build completes as v8.3.0!  🎉

[2019-07-19 15:13] stramel commented on #730
@jacobwgillespie I will take a look and ping some friends at Google.

[2019-07-19 15:13] jacobwgillespie commented on #730
Awesome, thanks!

[2019-07-19 15:38] r-inaldi commented on #887
Nice! Thanks for the addition 🚀

[2019-07-19 17:05] stramel commented on #730
@jacobwgillespie It appears that they are only maintaining the font-icons currently. https://fonts.googleapis.com/icon?family=Material+Icons

You might be able to take that font file and convert it into the SVGs?

Alternatively, the `@material-ui/icons`(https://github.com/mui-org/material-ui/tree/master/packages/material-ui-icons) package has all the up-to-date svgs... so you may want to take a lo

[2019-07-21 01:13] stramel commented on #730
@jacobwgillespie I went ahead and made a repo for pulling the latest icons. I plan on publishing it if you think it is a good structure. I also plan on automating the releases whenever a new version of the icons are released. Let me know what you think!

https://github.com/stramel/material-design-icons-updated

[2019-08-08 00:09] fjcero opened #932 "Two Tone options for Material Icons"
Is there a plan to support custom options for Icons, like `twoTones` colors (primary + secondary)?

[2019-08-23 07:01] stramel commented on #730
@jacobwgillespie I published my library of icons https://www.npmjs.com/package/material-design-icons-updated

Working on automating the releases.

[2019-08-23 07:02] stramel commented on #932
related to #730

[2019-08-23 16:40] LoganArnett commented on #477
Any more updates on this feature?

[2019-08-24 02:34] stramel commented on #932
@fjcero The material two-tone icons use an `opacity: 0.3` for the secondary color. So it will still be styled.

[code]

[2019-08-30 05:46] ashtagged commented on #477
I guess not ready for me yet. Going for my old style ico-moon, Really interested in this once ready.

[2019-08-31 09:09] #730 closed

[2019-08-31 09:09] #870 closed

[2019-08-31 09:31] jacobwgillespie commented on #730
Thanks for your patience and for @stramel for publishing the updated library and integrating it with `styled-icons` - this should release as v8.4.0 shortly once the CI build completes! 🎉

[2019-09-03 08:07] lennartbuit opened #944 "Feather Icons are not showing as of 8.4.0"
We noticed that 'feather' icons are no longer working since upgrading from 8.3.0 to 8.4.0, the same is happening on the documentation site [here](https://styled-icons.js.org/?s=feather).

All other icon sets appear to be fine.

[2019-09-03 09:43] jacobwgillespie commented on #944
Yep, that is a regression, thanks for catching!  I'll push a fix now 👍

[2019-09-03 10:23] jacobwgillespie commented on #944
This has been released as v8.4.1 - thanks again!

[2019-09-03 10:23] #944 closed

[2019-09-03 10:25] lennartbuit commented on #944
Thanks for the swift response, cheers!

[2019-09-03 14:00] donaldboulton opened #945 "styled-icons/feather/ArrowUpCircle and down arrow = blank"
styled-icons/feather/ArrowUpCircle and styled-icons/feather/ArrowDownCircle is missing the arrow its just a blank circle

[2019-09-04 06:21] lennartbuit commented on #945
I made an issue (#944) yesterday to indicate that they weren't showing up.I think that the fix was not sufficient, many icons are now unlike the ones on the feather website.

For example:
- https://styled-icons.js.org/?s=feather%20activity vs https://feathericons.com/?query=activity
- https://styled-icons.js.org/?s=feather%20clipboard vs https://feathericons.com/?query=clipboard

Hope this helps!

[2019-09-09 09:08] jacobwgillespie commented on #945
@stramel, do you have any insight into this?  I believe the detection around removing `fill="none"` from #938 might be interfering with the `feather` icons.

I'll try to take a look at this shortly, in the meantime any PRs (from anyone) are welcome!

[2019-09-09 14:26] stramel commented on #945
Oh, hmmm... I can take a look here shortly as well. Sorry for the inconvenience

[2019-09-09 15:09] stramel commented on #945
So my changes shouldn't be removing the `fill="none"` but I think that's just getting overwritten by `currentColor`. Looking into preserving `currentColor` and `none` if specified on `fill`.

[2019-09-09 15:19] stramel commented on #945
Not entirely sure how it was functioning before but I should have a fix out shortly. Doing some testing now.

[2019-09-09 16:06] stramel commented on #932
Related to #506

[2019-09-09 16:17] #945 closed

[2019-09-09 16:20] jacobwgillespie commented on #945
This will be released as v8.4.2 shortly - thank you @stramel! 🎉

[2019-09-09 16:21] stramel commented on #945
You're very welcome! Sorry for breaking an icon pack 😅

[2019-09-09 17:44] stramel commented on #932
@jacobwgillespie My material icons package has all the Material Icon variants (filled, outlined, twoTone, etc). Did you want to support Icon subsets, and if so, did you have any opinion on how to structure that?

[2019-09-09 18:30] jacobwgillespie commented on #932
Right now we have that sort of thing modelled as separate pack names, so like `fa-regular` vs `fa-solid`.  We could potentially have `material-outlined`, `material-twotoned`, etc.

There may be some other ways to do it (`<IconName variant="outline" />`, etc.), but just adding them under new pack names:

1. Already exists
2. We don't have to think about tree shaking / bundle size
3. Doesn't require

[2019-09-09 18:58] stramel commented on #932
Thanks for the quick reply @jacobwgillespie! I didn't realize that we were shipping 2 variants of FontAwesome. I could definitely use the existing setup for releasing the other variants in the short term while we discuss potential other solutions.

I was thinking maybe `material/outlined` and `material/twotoned`. We could have `material` alias to `material/filled`? Converting Font Awesome to this

[2019-09-10 16:11] dguayrobotiq opened #950 "Style a generic styled-icon with Typescript"
I want to be able to style a styled-icon passed by props to a component. Since `StyledIcon` is only a type, I can't use it in `styled` function. Problem demonstrated:

[code]

And then `IconButton` would be used like this:

[code]

With Fontawesome, we can styled the icon without knowing it's type like `const Icon = styled(FontAwesomeIcon) ...`

Also tried taking the type for the icon I set in the

[2019-09-10 16:29] stramel commented on #950
@dguayrobotiq Some minor changes would allow you do achieve what you are looking for.

[code]

Usage would still be what you wanted:

[code]

[2019-09-10 16:30] dguayrobotiq commented on #950
This should work but I'd like to style `Icon` as a styled-component

[2019-09-10 16:31] stramel commented on #950
@dguayrobotiq If you want to use `styled-components` you would need to style the button instead.

[code]

[2019-09-10 16:35] dguayrobotiq commented on #950
@stramel This is working thanks !

[2019-09-10 16:35] #950 closed

[2019-09-23 19:13] stramel commented on #477
@jacobwgillespie I was looking at taking a stab at this. Was just curious if you had any other guidance you might want the API to look like?

Would `createIcon` take a `JSX.Element` or a `string`?

[2019-09-23 19:26] jacobwgillespie commented on #477
Awesome, very appreciated! 🎉

I don't have any strong preferences here, though we'd potentially want to avoid shipping an SVG optimizer into the client bundle.  Right now the optimized SVG data is passed to `StyledIconBase` here: https://github.com/jacobwgillespie/styled-icons/blob/master/packages/styled-icons/generate/templates/StyledIconBase.tsx.  We could formalize that API.

But overall I'm op

[2019-09-23 20:13] stramel commented on #477
I agree that shipping an optimizer is less than desirable. I would opt to leave that up to the user.

I'm not sure what the common use-case is here for `JSX.Element` vs `string`. Does anyone have any examples? `JSX.Element` would definitely be easier to accept. A string would require something like `dangerouslySetInnerHTML` to insert the string.

[2019-09-24 10:55] Betree opened #971 "Icon pack proposal: Remix Icon"
- Name: `Remix Icon`
- License: `Apache License 2.0`
- NPM package: [`remixicon`](https://www.npmjs.com/package/remixicon)
- Website (if any):  https://remixicon.com

![image](https://user-images.githubusercontent.com/1556356/65505817-69b8f580-deca-11e9-9b77-af9cb1f4a6bf.png)

[2019-09-25 17:03] stramel commented on #971
I can throw a PR out for this really quick.

[2019-09-25 17:34] stramel commented on #971
@jacobwgillespie Any thoughts on how to handle these two icons? `bookmark-line` and `book-mark-line`? The OS doesn't like the same name with differences in casing.

[2019-10-09 22:23] #971 closed

[2019-10-31 19:44] cloud-walker commented on #625
This technique is not optimal for code-splitting, it force to import all supportedIcons at once in every page.

I'm wondering if there is another way, like a static className that identifies all icons, or a data-* attribute, that you can use to hook them.

Another way (maybe more clunky but more styled-components style) could be to have an `Icon` styled component and use it in combination with the

[2019-11-13 02:21] krislefeber opened #1045 "Timeout when installing with yarn"
When attempting to install with yarn, I kept getting error messages about timeouts. After googling around for similar issues, I saw [this comment](https://github.com/yarnpkg/yarn/issues/6221#issuecomment-412844630) stating that the timeout can be increased with `--timeout 500000`, making the issue go away. Just thought I should mention this for others that see the problem. It's not necessarily tha

[2019-11-13 17:38] jacobwgillespie commented on #1045
Thanks for the report - are you by chance using Windows?  We have seen this issue with yarn before, but always on Windows so far (#785, #420).

But yes it does seem to be an issue with Yarn timeouts.

[2019-11-13 18:03] krislefeber commented on #1045
Yes, this was on Windows, but I was using Windows subsystem for Linux (WSL). I'm not sure if that makes a difference, as I believe I was technically running on an Ubuntu VM. I'll close out my issue.

[2019-11-13 18:03] #1045 closed

[2019-11-21 11:56] Betree opened #1055 "Export individual packages"
**Problem**

Because `styled-icons` includes different packages with multiple assets in them, it's currently pretty heavy (currently more than 100MB).

**Proposed solution**

One way to improve that would be to export individual packages. Eg. `@styled-icons/icomoon`, `@styled-icons/font-awesome`...etc

So users would import only the libraries that they need. Another benefit if the release system i

[2019-11-21 14:41] jacobwgillespie commented on #1055
Yep, nice idea and I understand the context from the referenced issue - let me see if I can wire this up 👍

[2019-11-21 16:35] stramel commented on #1055
👍🏼 I had actually been thinking about this as well

[2019-11-22 02:25] #1055 closed

[2019-11-22 07:14] dependabot-preview[bot] opened #1058 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/packages/next-plugin-styled-icons/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

[2019-11-22 10:12] #1058 closed

[2019-11-23 12:56] raulfdm opened #1061 "Site is down"
Just want to say the website is down.

<img width="1792" alt="Screenshot 2019-11-23 at 13 51 46" src="https://user-images.githubusercontent.com/12464600/69478947-6a053c80-0df8-11ea-91a3-a623867b1949.png">

I'm not sure if it's a region problem.

[2019-11-23 13:09] janosh commented on #1061
Might be due to [disabling netlify deploys](https://github.com/jacobwgillespie/styled-icons/commit/f0af930951c9ff4efb09f2f7f01bf625d13f2ffd) and [CircleCI deploys](https://github.com/jacobwgillespie/styled-icons/commit/71232bcb383fc5c8b8cb3072e6da587a08705164) not working as expected.

[2019-11-23 20:19] LHudson73 commented on #1061
heh

[2019-11-24 09:10] raulfdm commented on #1061
Well... apparently is working again. :)

[2019-11-24 09:10] #1061 closed

[2019-11-27 03:26] jacobwgillespie commented on #1061
Thanks for catching this, the site hosting was moved to Zeit Now and it temporary got into a redirect loop while [changing DNS](https://github.com/js-org/js.org/pull/3550) - should be all set now

[2019-12-06 09:35] eugenenelou opened #1077 "Typescript error on v9"
Hello, I have a typescript error when I try upgrading to v9.
[code]

`--isolatedModules` is required for babel compilation of typescript.

[2019-12-06 16:32] jacobwgillespie commented on #1077
Thanks for the report, one question before I look into a solution, are you directly importing `styled-icons/types` in your codebase?  Or does this error happen with just an icon import?

[2019-12-06 16:58] eugenenelou commented on #1077
Yes I'm trying to type a props as a `StyledIcon`

[2019-12-23 11:25] JClackett commented on #1077
I have a similar issue with v9 and TS

Property 'crossOrigin' is missing in type '{ size: number; }' but required in type 'Pick<StyledIconProps

[2019-12-29 12:31] jacobwgillespie commented on #1077
@eugenenelou and @JClackett can I get a bit more information on which version of TypeScript and `@types` packages you are using?  I'm not able to directly reproduce this issue.  Or even better, if you have a repo or CodeSandbox that reproduces the issue, that would be amazing.

@eugenenelou, the Styled Icons website is built with Next.js using Babel, with `--isolatedModules` enabled, and it import

[2020-01-06 10:19] gilesbradshaw commented on #1077
I wonder if this will help..

https://github.com/gilesbradshaw/ui-example

If I comment out import App from './App it says:

[code]
if I don;t comment out import App from './App'

it says:

[code]

ie in one case it requires crossOrigin attribute and in another it requires it not to be there..

[2020-01-06 10:46] eugenenelou commented on #1077
@jacobwgillespie I am using typescript `3.7.3` and for the `@types` package I assume you mean the react one (according to the README), I use `16.9.15`

I'll try and get a codesandbox working.

[2020-01-07 18:16] dondmcg opened #1113 "Support for Font Awesome Pro?"
So would love to use this plugin but we use Font Awesome Pro and have a license. Is there either a way to pass a license or key through the plugin to access Pro or is there plan to include this feature?

[2020-01-10 18:55] jakub-astrahit opened #1119 "Invalid assignment [./~/@styled-icons/styled-icon/dist/index.esm.js:9,0]"
After upgrading styled-icons from 8.6.0 to 9.1.0, I get this error when I build my app for production:

[code]

This is my definition of UglifyJs:
[code]

Any ideas what the "Invalid assignment" means?

[2020-01-12 22:06] jacobwgillespie commented on #1119
I believe this relates to the fact that UglifyJs built into Webpack is very old and cannot handle some modern ES syntax.  I would recommend switching to `terser-webpack-plugin` (https://github.com/webpack-contrib/terser-webpack-plugin) which is more modern and is the recommended replacement for Uglify.  You might also be able to fix this with the external UglifyJS plugin: https://webpack.js.org/pl

[2020-01-14 03:28] simjoeweb opened #1123 "Slow dev time"
I've just added this module to my next.js app and my development environment is at least 7x slower: hot reloading and auto completion in visual code... I went from almost instant changes (<1s) to 7-8 seconds. But build time hasn't been much affected.

It has something to do with this library because I rolled back my app just before and after having this module to make sure. Has anyone had this iss

[2020-01-14 03:59] stramel commented on #1123
@simjoeweb We're aware that Next.js app is taking a while to build and seems to be a common issue when you get to a large project https://github.com/zeit/next.js/issues/7929

[2020-01-14 13:06] jacobwgillespie commented on #1123
@simjoeweb how are you importing icons?  Are you importing whole packs like `import {material} from 'styled-icons'` or individual items like `import {Alert} from 'styled-icons/material'`?

[2020-01-14 23:56] simjoeweb commented on #1123
I am importing like this `import {Alert} from 'styled-icons/material'`
I went back to my old way of importing icons. The dev performance ruins it for me (I have to wait 20s+ to hot reload on some pages). I'll investigate further when I have the time because I like the convenience of this module.

[2020-01-15 23:11] simjoeweb commented on #1123
I solved it by importing packages I needed individually.
I think it could be worth mentioning this feature in the readme

[2020-01-15 23:11] #1123 closed

[2020-01-22 16:20] LaksCastro opened #1134 "Styled Icons dont install"
I tried to install Styled Icons using Yarn and this error happens:
[code]
I'm using Gatsby Starter Default and I realized that this error only happens in the latest versions of Styled Icons
I already checked the internet, and everything is fine.

A complete log is [available here](https://gist.github.com/LaksCastro/8a81938be6d4c3059ba51b6b4a653d8b)

[2020-01-23 15:04] gocreating commented on #1134
Same problem. The installation keeps fail.

[2020-01-24 17:44] jacobwgillespie commented on #1134
This is an issue with Yarn and Windows that has been seen before (#420, #785) - you may want to report this issue in the Yarn issue tracker.  In the meantime, you may have more luck installing a smaller set of the icons like so:

[code]

[code]

That will install only that specific icon pack, and it's more likely to install on Windows.

Alternatively you may find the upcoming Yarn 2.0 to fix this.

[2020-01-25 00:53] #1134 closed

[2020-02-05 04:38] tavurth opened #1142 "Donation flow"
Awesome project, thank you for making icons so easy!

Could we add something like a PayPal link for donation to the Readme.md?

[2020-02-05 20:14] samrith-s opened #1147 "Keep getting error attempted import error"
Hey,

We are using `v9.2.0` in our CRA app. We periodically run into a `Attempted import error: <icon-name> is not exported from styled-icons/boxicons-solid/<icon-name>`.

No idea how to solve this, and am unable to pinpoint what’s causing it, as everyone in the team isn’t able to consistently replicate it.

Any help is appreciated!

[2020-02-05 20:49] jacobwgillespie commented on #1147
Hey, thanks for raising this issue - if you are able to provide code that reproduces this issue I'd be happy to take a look.  I haven't seen this before, and from the error message it looks like it's trying to dynamically require an icon, but with the icon name being an empty string `""`, but I'm unfamiliar with what would cause that.

My best shot-in-the-dark guess would be you have a dynamic `im

[2020-02-05 20:53] jacobwgillespie commented on #1142
Hey, thanks, I'm glad you're enjoying it! ❤️

This is the first request for a donation link I've gotten, but If you'd like to donate, there's three ways I think:

* GitHub sponsors: https://github.com/sponsors/jacobwgillespie
* My personal PayPal: https://paypal.me/jacobwgillespie
* OpenCollective: https://opencollective.com/styled-icons

[2020-02-06 01:37] cristiancs opened #1148 "How to make icon spin"
With react-fontawesome you can pass the attribute spin and it will make the icon spin, it's is possible to do it with this library?

[2020-02-06 01:57] stramel commented on #1148
@cristiancs Yes, you can make icons spin with a bit of CSS.

Here I'm using `styled-components` to accomplish it but any method is fine.

[code]

[2020-02-06 01:57] #1148 closed

[2020-02-06 05:28] samrith-s commented on #1147
Hey,

I’ll try to reproduce it.

But for example the LockAlt icon, we get:
ˋAttempted import error: LockAlt is not exported from styled-icons/boxicons-solid/LockAltˋ.

[2020-02-06 06:48] tavurth commented on #1142
Thank you!

I just saw that you also have it at the end of the Readme as well, but I didn't think to search for contributors!

[2020-02-06 06:48] #1142 closed

[2020-02-10 07:11] polaroidkidd opened #1151 "extend generic version of styled components"
What I'm looking to do is something like this:

[code]

... and then the `<Blog/>` renders with a red background. Is this at all possible or would I have to apply the style to every Icon I use specifically?

[2020-02-11 03:33] stramel commented on #1151
@polaroidkidd Are you wanting to globally modify `styled-icons` to where all icons have a red background?

[2020-02-11 09:35] polaroidkidd commented on #1151
@stramel for starters, yes.

[2020-02-16 09:47] raulfdm commented on #1077
Same here.

My project is open source, it can be used to see this behaviour:

1. Clone https://github.com/raulfdm/medium-blog
1. Install the dependencies `yarn install`
1. File example: `src/components/InputSearch/InputSearch.tsx` line 44

![image](https://user-images.githubusercontent.com/12464600/74602520-aff53800-50a9-11ea-9b7d-d20b193f4f68.png)

[2020-02-18 11:13] anasbud commented on #1147
Same here.

`Cannot find module '@styled-icons/material/KeyboardArrowRight' from 'KeyboardArrowRight.js'`

[2020-02-19 00:25] jacobwgillespie commented on #1077
Okay, I have found the issue - when TypeScript generates the `.d.ts` file for the individual icons, it's getting the generated type wrong and accidentally thinking it should include `crossOrigin`.  I've opened #1152 to fix this, which uses `StyledIcon` as the type - I'll publish this shortly.  Thanks for the reproduction examples!

[2020-02-19 00:27] jacobwgillespie commented on #1147
@anasbud can you provide an example repo that shows the issue?  No worries either way, but if I have an example I can test locally it makes it quite a bit faster to debug.

[2020-02-19 00:29] #1077 closed

[2020-02-19 01:39] jacobwgillespie commented on #1077
This has been published as v9.4.0!

[2020-02-19 05:58] raulfdm commented on #1077
Thanks @jacobwgillespie . I just upgraded here and now it's working fine. Good job! :)

[2020-02-19 07:07] anasbud commented on #1147
I'm sorry, company private repo.

` Cannot find module 'styled-icons/fa-solid/Check' from 'CheckBox.js'

    However, Jest was able to find:
    	'../shared/CheckBox.js'

    You might want to include a file extension in your import, or update your 'moduleFileExtensions', which is currently ['ts', 'tsx', 'js', 'jsx'].

    See https://jestjs.io/docs/en/configuration#modulefileextensions-array-stri

[2020-02-19 14:52] jacobwgillespie commented on #1151
Hey @polaroidkidd, yes this is possible! What you will want to do is create a styled component wrapper that contains your app, and inside the CSS there, you would target `StyledIconBase` component from `@styled-icons/styled-icon` as a child of the wrapper, like so:

[code]

Then all icons you use anywhere will be affected by that global style.

Here's a [**CodeSandbox example**](https://codesandbo

[2020-02-21 14:59] addamove opened #1161 "Icons are not working in ie11"
Starting from 9.3 version

[2020-02-24 12:27] jacobwgillespie commented on #1161
Hey, is it https://styled-icons.js.org that's broken or your application?  The website won't work on IE11, but there shouldn't be anything as far as I know that would break `styled-icons` in IE11.

[2020-02-24 12:28] #1151 closed

[2020-02-24 16:19] stramel opened #1166 "Icon pack: Heroicons"
- Name: `Heroicons`
- License: `MIT`
- NPM package: `heroicons`
- Website (if any): `https://github.com/refactoringui/heroicons`

Used for Tailwind UI

[2020-02-25 00:06] #496 closed

[2020-02-25 00:06] #497 closed

[2020-02-25 00:06] #499 closed

[2020-02-25 00:06] #501 closed

[2020-02-25 00:06] #1166 closed

[2020-02-25 00:18] #1119 closed

[2020-02-25 00:30] jacobwgillespie commented on #496
This has been published as v9.5.0! 🎉

[2020-02-25 00:30] jacobwgillespie commented on #497
This has been published as v9.5.0! 🎉

[2020-02-25 00:30] jacobwgillespie commented on #499
This has been published as v9.5.0! 🎉

[2020-02-25 00:30] jacobwgillespie commented on #501
This has been published as v9.5.0! 🎉

[2020-02-25 00:30] jacobwgillespie commented on #1166
This has been published as v9.5.0! 🎉

[2020-02-25 07:37] addamove commented on #1161
Yeah. My website doesn't work in ie11, it say some chunk doesn't have some method and this chunk was styled icon library. I doesn't remember error quite well. I just rolled back for one major version and everything started to work normally.

[2020-02-25 15:42] #932 closed

[2020-02-25 15:56] jacobwgillespie commented on #1161
Cool - I'll close this issue for now, but if you run into this again, feel free to post back here.  Even better, if you ever have a small example repo that's broken on IE11, I'd be happy to debug.

[2020-02-25 15:56] #1161 closed

[2020-02-25 19:59] jacobwgillespie opened #1171 "Drop individual icon imports from styled-icons package"
### Problem

So I can't publish `styled-icons` v9.6.0 because we have hit a file count limit and NPM is rejecting the publish. 🙂 There are now 67,776 files in that package after the addition of the `material-*` variant icon packs.

Today we are proxying all icons in the `styled-icons` package to the corresponding `@styled-icons/*` packages - we proxy both the pack as a whole and each individual ic

[2020-02-25 20:44] stramel commented on #1171
I was actually going to take a stab at re-working the structure last night but didn't get time to.

I'm definitely on board for the proposed. Which is basically `styled-icons` becoming a bunch of `export * as material from '@styled-icons/material`.

With that being said, I'm not sure I see the benefit of maintaining that package anymore. If you want multiple, you could easily just pull in the pack

[2020-02-26 11:57] jacobwgillespie commented on #1171
Opened #1174 to implement this - I don't think want to necessarily deprecate `styled-icons` directly (as in, we don't want a NPM deprecation message) as I know some of the apps I work will will still want to import from `styled-icons` to pick up everything, but I've adjusted the docs to highlight the `@styled-icons/PACK` packages instead.

[2020-02-26 13:25] stramel commented on #1171
I was thinking by deprecation notice, it would be a console message maybe  a postinstall script that would encourage users to switch to the new syntax so in a future release we can drop support for styled-icons. But will leave it up to you

[2020-02-26 21:20] StevenLangbroek commented on #1147
Hey @jacobwgillespie! We're having this issue as well in https://github.com/styled-components/styled-components-website/pull/604. You should be able to see the results in Travis, none of us can reproduce it locally though weirdly enough. I tried changing the imports from `'styled-icons/fa-brands/[name]` instead of from `styled-icons/fa-brand`, but that didn't help either.

I'll need some time to d

[2020-02-26 22:32] jacobwgillespie commented on #1147
@StevenLangbroek thanks for the link, I can check out the `styled-components-website` repo/build as well 🙏

[2020-02-29 11:18] jacobwgillespie commented on #1147
@samrith-s and @anasbud, can you try switching to the individual icon pack packages?  You'd replace `styled-icons/fa-solid/Check` with `@styled-icons/fa-solid/Check` and install `@styled-icons/fa-solid`?  I think the issue may relate to problems unpacking all the files in the very large `styled-icons` package.

[2020-02-29 11:28] anasbud commented on #1147
Yes that's what we finally end up doing. I fixed the issue but i'm still wondering what was the problem?

[2020-02-29 11:36] jacobwgillespie commented on #1147
Cool, so there are a _lot_ of files in the `styled-icons` package, by guess is that sometimes it has trouble extracting all of them.  I would expect slower disks or slower CPUs (like on CI) to encounter that issue more frequently, which seems to be the case.

Styled Icons v10 is actually going to drop the `styled-icons/PACK/ICON` exports (`@styled-icons/PACK/ICON` will still work) as we've hit a f

[2020-03-03 14:24] martinjuhasz opened #1182 "v9.6.0 not published to npm"
Hey,
seems like you added some new icon sets in v9.6.0. F.e. i can find material-twotone on the websites' search. These are somehow not useable from the latest version that is on NPM => v0.9.5.

Would love to see the latest version published on NPM. Thanks for the effort!

[2020-03-03 14:36] martinjuhasz commented on #1182
If i would just read older issues =/
Duplicate of https://github.com/jacobwgillespie/styled-icons/issues/1171

[2020-03-03 14:36] #1182 closed

[2020-03-03 22:22] jacobwgillespie commented on #1171
If/when we do deprecate `styled-icons`, just a note that Yarn silences the output of all postinstall scripts, so only marking packages as deprecated on `npmjs.com` actually displays something in the consumer's terminal (NPM does display postinstall output IIRC).

[2020-03-03 22:37] #1171 closed

[2020-03-04 00:31] jacobwgillespie commented on #1147
As `styled-icons` v10 has been released, I'm closing this issue, but feel free to post back if you encounter this issue again after upgrading.

[2020-03-04 00:31] #1147 closed

[2020-03-04 00:32] jacobwgillespie commented on #1182
Yep, v9.6.0 couldn't publish because it was too large! 😱 v10.0.0 was just released, so this should be fixed now.

[2020-03-04 12:34] martinjuhasz commented on #1182
ty :)

[2020-03-05 16:08] Jensderond opened #1186 "Add IonIcons"
- Name: `ionicons`
- License: `MIT`
- NPM package: `https://www.npmjs.com/package/ionicons`
- Website (if any): `https://ionicons.com`

[2020-03-05 16:10] Jensderond commented on #1186
I will implement this, **but...** is this more or less the same (but more up-to-date) icon pack as [open-iconic](https://github.com/iconic/open-iconic) or are the names just a bit similar?

Nevertheless I'll pick up adding **ionicons** 🎉

[2020-03-05 22:32] jacobwgillespie commented on #1186
Yeah, I think this is a separate icon pack, just similar names - feel free to submit a PR! ❤️

[2020-03-08 16:38] #1186 closed

[2020-03-09 09:20] farshed opened #1191 "Module not found: Can't resolve '@styled-icons/feather/FolderPlus'"
I've been experiencing this issue after I upgraded from v9.3.0 to v10.2.1. This error is thrown randomly for icon imports throughout the app. Sometimes the build compiles successfully and then after a few reloads, it fails with this error.

React v16.12.0
Electron v8.0.0

[2020-03-13 10:15] jacobwgillespie commented on #1191
Hey @farshed can you provide any more details about your setup?  Operating system, what bundler you're using, etc.  If you can provide a repository example that reproduces the issue that would be awesome.

It looks like the same thing as #1147 - previously I had assumed that it was due to the number of files on disk, but it may have another root cause.

[2020-03-13 12:30] onurcanavci opened #1197 "Can you add badges to styled icons?"
I would like to add a badge counter on icon but I don't find a documentation about this. Is there any way to add a badge to icons?

[2020-03-13 17:15] farshed commented on #1191
@jacobwgillespie It seems that when you install the package it creates two folders in the node-modules directory; `styled-icons` & `@styled-icons`.
So before updating the package, I was importing the icons from `styled-icons` and it was working fine but after the update, all those imports randomly stopped working. I checked the folder and some of the icons inside it were missing. So I changed the

[2020-03-13 17:35] stramel commented on #1191
@farshed `v10` had breaking changes for icon imports from `styled-icons`. This was documented in the changelog. https://github.com/jacobwgillespie/styled-icons/blob/master/CHANGELOG.md#v1000---2020-03-03

Closing this as it is intended functionality

[2020-03-13 17:35] #1191 closed

[2020-03-13 17:36] stramel commented on #1197
@onurcanavci What do you mean by "badge"? Do you have an example of what you're wanting to achieve?

[2020-03-13 23:01] Haraldson commented on #477
[code]

Just got this working quite nicely with the `@svgr/webpack` plugin. Calling the SVG component as a function feels kind of dirty, but it works.

Is it as dirty as it feels, or is it alright? Also, was any progress made on this issue since last year, removing the need for this hack?

[2020-03-14 09:36] onurcanavci commented on #1197
<img width="256" alt="Screen Shot 2020-03-14 at 12 36 10" src="https://user-images.githubusercontent.com/34331026/76679288-650b0980-65f0-11ea-91c3-35570c8d73dc.png">

Like this

[2020-03-14 14:49] jacobwgillespie commented on #1197
@onurcanavci yes you can, but not directly through this library - Styled Icons provides the icon SVG directly, so you would use it inside another component that paired the icon with a badge. Something like this:

[code]

Then to use it:

[code]

Note that the above is just an example, you would need to add CSS styles for the IconWithBadge wrapper and Badge component to display the badge correctly.

[2020-03-16 19:10] stramel commented on #1197
I think we can close this as this is just an implementation using an icon. Please feel free to comment if we're misunderstanding what you're looking for.

[2020-03-16 19:10] #1197 closed

[2020-03-20 17:23] jw-miaem commented on #477
Any movement on this? would love to have this feature

[2020-03-31 18:29] germanf opened #1220 "Missing Ionicons outline pack"
Guys, the package `@styled-icons/ionicons-outline` isn't available on npm registry.
Could you add it? Thanks!

[2020-04-01 13:16] cmacdonnacha opened #1223 "Is possible to pass a styled icon as a prop to a wrapper component?"
I have a wrapper component called `IconButton` which will display a styled icon and also handle things like "hover" styles and click events. I'm not sure if I'm going down the correct path with this as I'm running into some typescript errors and was wondering if you could see what I was doing wrong.

Inside my `Header` component I would like to use my `IconButton` component, like so:

[code]

Then

[2020-04-01 13:17] jacobwgillespie commented on #1220
Hey, yes this is expected, we've encountered an issue where the SVG optimizer breaks the Ionicons icons - this is waiting on #1190 to be completed, after that it'll be published.

[2020-04-01 13:27] jacobwgillespie commented on #1223
Hey, yep you can do this one of two ways, either passing the icon without props to another component, or changing your wrapper component type to accept any rendered React child:

[code]

Or:

[code]

Basically `StyledIcon` refers to an unrendered icon component, and passing in `<MenuOutline size={40} />` is a rendered component.

[2020-04-01 13:29] cmacdonnacha commented on #1223
Thanks for the prompt reply! I actually do prefer your first suggestion and it's what I tried initially but I then ran into this React error:

[code]

[2020-04-01 18:44] stramel commented on #1223
You can use `React.ReactElement` instead to pass `<MenuOutline />` or to pass the icon component you can do `React.ComponentType<StyledIcon>` and pass `MenuOutline`

[2020-04-02 09:44] cmacdonnacha commented on #1223
Thanks @stramel

I could be doing something wrong but I tried your second suggestion and I'm now getting:

`Type 'StyledIcon' is not assignable to type 'ComponentType<StyledIcon>'.`

When using it like this:

**Header.tsx**

[code]

**IconButton.tsx**

[code]

[2020-04-02 16:33] cmacdonnacha commented on #1223
Thanks @stramel

I could be doing something wrong but I tried your second suggestion and I'm now getting:

`Type 'StyledIcon' is not assignable to type 'ComponentType<StyledIcon>'.`

When using it like this:

**Header.tsx**

[code]

**IconButton.tsx**

[code]

[2020-04-02 19:40] stramel commented on #1223
@cmacdonnacha Sorry for the incorrect information on the typing. I was trying to do it off the top of my head. You should be able to use `StyledIcon` directly or `React.ComponentType<StyledIconProps>`

[2020-04-03 19:36] cmacdonnacha commented on #1223
Thanks @stramel . Just tried that out and now I'm getting this error:

[code]

[2020-04-03 22:15] stramel commented on #1223
@cmacdonnacha Can you show your code for the IconButton?

[2020-04-03 22:22] cmacdonnacha commented on #1223
Yep you can see it at the top in my original post 👍🏻

[2020-04-04 07:38] stramel commented on #1223
The problem is your usage of the prop, not the typing.

Two Options:

- `StyledIcon` / `ComponentType<StyledIconProps>` passed in as `MenuOutline` using `<props.icon />` to display (https://codesandbox.io/s/modest-rain-lwjyd)
- `ReactElement` / `ReactNode` passed in as `<MenuOutline />` using `{props.icon}` to display (https://codesandbox.io/s/wizardly-microservice-6tiiy)

[2020-04-04 07:38] #1223 closed

[2020-04-04 12:37] cmacdonnacha commented on #1223
Ah! Excellent thanks for all your help!

[2020-04-15 11:20] dependabot-preview[bot] opened #1232 "Dependabot needs permission to see entypo"
Dependabot couldn't resolve your project's dependencies as it couldn't access [entypo](https://github.com/hypermodules/entypo).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/jacobwgillespie) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` make

[2020-04-16 00:22] pak11273 commented on #420
```yarn add styled-icons --network-timeout 100000```

[2020-04-16 00:23] pak11273 commented on #1134
```yarn add styled-icons --network-timeout 100000```

[2020-04-16 10:26] #1232 closed

[2020-04-20 12:45] dependabot-preview[bot] opened #1234 "Dependabot needs permission to see entypo"
Dependabot couldn't resolve your project's dependencies as it couldn't access [entypo](https://github.com/hypermodules/entypo).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/jacobwgillespie) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` make

[2020-04-20 18:33] #1234 closed

[2020-05-19 13:57] akougblenou commented on #1220
Does this concern the other packages from ionicons? I am unable to find anylooking a the npm registry.

[2020-06-11 09:26] janosh opened #1263 "Netlify logo"
Any icon pack around that includes the Netlify logo?

Btw, awesome work you're doing on this package @jacobwgillespie! 🎉

[2020-06-11 15:12] jacobwgillespie commented on #1263
It does appear that Netlify is missing from all existing packs!

I haven't had much time to fix the SVG issue that's blocking the latest release, but once I get around to that, it looks like I can add either `simple-icons` and/or `core-ui` icons to pick up a lot of brand icons, including Netlify.

[2020-06-20 14:13] janosh commented on #1220
Same here. Unable to import any of the ionicons.

Anything blocking #1190 that I might be able to help with?

[2020-06-23 14:06] el1f commented on #1220
Seems like it's affecting all the ionicons indeed. Been trying to add the sharp package with little success

[2020-06-23 15:08] jacobwgillespie commented on #1220
Okay, I have some free cycles today, let me see if I can fix the color issue (ionicons-outline failed to publish as the icon colors got mangled by an SVG optimizer).

[2020-06-23 15:41] stramel commented on #1220
@jacobwgillespie I can review quickly if you get around to it. If not, I was going to try to take a look today or tomorrow.

[2020-06-23 16:30] jacobwgillespie commented on #1220
@stramel Yep, exactly that (see https://github.com/svg-icons/svg-icons/pull/8) - I've switched back to the `svgo`-based optimizer, removing the Rust fork of `svgcleaner`, as while Rust is super cool, the JS is much more maintainable given the (lack of) available time I have at the moment. 🙂

There's now a `CURRENT_COLOR` environment variable that can strip out colors conditionally - ionicons hard-

[2020-06-23 17:48] #1220 closed

[2020-06-23 17:58] jacobwgillespie commented on #1220
This has been published as v10.3.0 - thank you all for your patience! 🎉 Let me know if you run into any issues.

[2020-06-23 18:48] janosh commented on #1220
@jacobwgillespie Can confirm ionicons working again in v10.3.0. Thanks a lot!

[2020-06-23 22:05] el1f commented on #1220
Wow, this was quick. Great job @jacobwgillespie!

[2020-06-23 22:30] #1263 closed

[2020-06-23 23:12] jacobwgillespie commented on #1263
@janosh this has released, there's a Netlify icon now 🎉

https://styled-icons.js.org/?s=netlify

[2020-06-24 08:19] janosh commented on #1263
Thanks for working on this! Just tried it out. I'm getting the error

from this line:

[code]

[2020-06-24 16:00] jacobwgillespie commented on #1263
Ah, good catch, this will be fixed by #1275. Also for reference, the packs are installable individually, in case you'd like to slim your `node_modules`. 🙂 For instance:

[code]

[2020-06-24 17:35] janosh commented on #1263
I know. It's just that I use many of the packs and I'm too lazy to install them individually. 😄

[2020-06-24 17:55] jacobwgillespie commented on #1263
Totally, it's why the `mono-package` still exists. 🙂

This should be fixed in v10.4.1: https://unpkg.com/browse/styled-icons@10.4.1/simple-icons/

[2020-06-24 18:07] janosh commented on #1263
Just installed v10.4.1. Still getting the same error unfortunately. 😞

[2020-06-24 19:27] jacobwgillespie commented on #1263
@janosh yep, my bad, `styled-icons` was missing the new dependency for `simple-icons` - this has been fixed in v10.4.2. I am able to import the Netlify icon successfully now from a clean CRA app.

[2020-06-25 05:30] janosh commented on #1263
@jacobwgillespie Same here, now it works! 🎉

[2020-06-26 13:25] EmilEriksen opened #1278 "Incompatible with IE 11 (arrow functions in transpiled files)"
You can verify this by opening `node_modules/@styled-icons/styled-icon/dist/index.js`. It contains a few arrow functions. The transpiled icon files seem to be fine although I only had a quick glance, so it only seems to be the base icon that's problematic. Unfortunately, this completely breaks IE 11 compatibility for all packs. Would be awesome to have IE 11 compatibility :)

[2020-06-26 15:04] jacobwgillespie commented on #1278
Good catch, thanks for this report - the issue appears to be that all the modules correctly build ES5, except for `@styled-icons/styled-icon` which is mistakenly being built as ES6. I've opened #1279 to fix, after it passes the build/tests I'll push a new release.

[2020-06-26 15:22] EmilEriksen commented on #1278
Awesome! Thanks for the quick fix.

[2020-06-26 16:25] jacobwgillespie commented on #1278
This has been published as v10.5.0 - thanks again! 🎉

[2020-06-27 21:37] mmahalwy opened #1281 "Website loads icons slowly"
Thoughts on having tabs for the different packages? I often won't be picking from different packages. Would be nice to be powered by query params. I can help with this if needed

[2020-06-28 15:15] jacobwgillespie commented on #1281
Totally, we have almost 17k icons now, so the website is starting to reflect that fact. 🙂

Let me see what I can do, I have a few ideas for performance improvements and agree that having icon pack filters would be super useful 👍

[2020-06-29 21:41] mmahalwy commented on #1281
awesome! Thanks @jacobwgillespie for this!

[2020-07-10 04:58] mmahalwy opened #1322 "iconVerticalAlignment exposed but errors with TS"
See:
![image](https://user-images.githubusercontent.com/3749095/87118062-6370eb80-c248-11ea-82a2-e912229689ad.png)

This actually works and aligns the icon, but TS is unhappy with the type as it's not exported.

[2020-07-10 12:48] jacobwgillespie commented on #1322
Hey, yes that does happen to work, though it's not intentional. 🙂 You can think of the `iconXXX` props as internal, so `iconVerticalAlign` is supposed to be the default vertical alignment value from the icon pack itself, as some icon packs intend to have a `-0.125em` vertical alignment, and then you would directly style the `vertical-align` CSS property to override.

In a future version of Styled

[2020-07-10 17:22] mmahalwy commented on #1322
Oh yeah, the 3rd option is the coolest. I didn't catch that in the README. I think this is (imho) a better example than the one in the README. Cool to port it over?

[2020-07-10 17:23] mmahalwy commented on #1281
@jacobwgillespie thoughts on this? I can help here if you need. LMK when :)

[2020-07-10 17:27] jacobwgillespie commented on #1322
Definitely! It's supposed to be here: https://github.com/styled-icons/styled-icons#base-icon-styles. But that's not exactly the clearest section.

[2020-07-10 17:32] mmahalwy commented on #1322
Yeah, this is the key part:
[code]

[2020-07-10 17:40] jacobwgillespie commented on #1281
@mmahalwy totally, PRs are 100% welcome. I haven't had a chance to look at improvements yet, and if you'd like to take a look that would be awesome!

I believe the current slowness is probably caused by:

- Each icon pack is code-split into a different JS file. I did this to reduce the size of the overall JS that needs to be downloaded, with the idea that packs could be fetched lazily when they sc

[2020-07-10 19:57] stramel commented on #1281
I have also been looking into and working on some website rework in my spare time.

This is true, the dynamic imports would have to be wrapped by a function to prevent them all from loading immediately.

Yeah I noticed this as well. I think the web worker idea would be good but wouldn't work well for older browsers.

I agree, this would be really cool.

[2020-07-30 04:31] steinroe opened #1350 "className has no effect?"
Hi all,

I have a scenario where I want to dynamically load the icons based on their name and apply a styling. However, it seems like passing className does not do much. Any ideas?

[code]

EDIT: It seems like StyledIconBase has overwritten the className style. I removed it from the global style and now it works as expected.

[2020-07-30 04:33] #1350 closed

[2020-07-31 18:58] kokushkin opened #1355 "Typescript errors"
Hey, I'm getting multiple typescript errors, like

[code]
This how I'm importing the icon:
[code]
(have to use .js because overvise I'm getting error with es6 when uglifying)

So it looks like I'm trying to compile Copy.tsx! Yeah, take a look:
![image](https://user-images.githubusercontent.com/9853656/89067668-6a3adc00-d378-11ea-81f9-a32cc8830b7f.png)

We have tsx files in the package. Is it ok to

[2020-07-31 23:48] jacobwgillespie commented on #1355
Hey @kokushkin, thanks for the report - can you share what versions of `@types/react` and `@types/styled-components` you're using? They are likely involved in this as well.

Also would you be able to provide a repo demonstrating the issue? I can do some debugging without it, but if you do have a small example repo to share that would speed things up.

[2020-08-01 20:39] kokushkin commented on #1355
Thank you for the response and thank you for the library of course!)
Yeah, sure, it should be even more important, so
"@types/react": "16.8.8",
"@types/styled-components": "4.1.22",

Yeah I will try to reproduce the small example  (unfortunately I can't share the original repo) but it will take some time and it's complicated because we're using quite unique things and I can't use them in the examp

[2020-08-01 23:15] jacobwgillespie commented on #1355
Oh, I see now, thanks for the clarification, somehow my brain registered the `.tsx` files earlier but didn't make the connection "those shouldn't be there".

I'll push an updated release without the `.tsx` files 👍

[2020-08-02 00:06] #1355 closed

[2020-08-02 01:32] jacobwgillespie commented on #1355
This has been released as 10.14.1, let me know if you run into any issues.

[2020-08-02 08:38] kokushkin commented on #1355
Yeah, great, it's worked out. And additionally, it's solved another our problem, so I can include like this
import { Edit } from "@styled-icons/boxicons-regular/Edit/Edit"
instead of doing
import { Edit } from "@styled-icons/boxicons-regular/Edit/Edit.js"
(had to use .js because otherwise I was getting an error with es6 when uglifying)
As I understood I was building tsx and was using the output of

[2020-08-06 08:57] ch4rlesyeo opened #1367 "Unable to install styled-icons"
Hi,

I'm having problem installing styled-icons, it appears that some icon packs are missing from npm registry.

Full error message attached below -
![image](https://user-images.githubusercontent.com/8202917/89512254-88d02580-d805-11ea-94e6-b20b1a497211.png)

[2020-08-06 13:07] ch4rlesyeo commented on #1367
Closing this as its actually due to npm's issue.

[2020-08-06 13:07] #1367 closed

[2020-08-12 07:26] Betree commented on #1278
We still get reports on our bug tracker for a `Syntax error` on icons:

![image](https://user-images.githubusercontent.com/1556356/89986772-513a0100-dc7d-11ea-8bf2-0f58af2bed22.png)

<details>

[code]

</details>

So far, it seems that the following libraries are impacted but there may be more:
- boxicons-regular
- fa-solid
- feather
- octicons

We didn't find a `10.5.0` version for these, we're c

[2020-08-13 16:34] #1278 closed

[2020-08-13 17:08] jacobwgillespie commented on #1278
@Betree thank you for catching this, a fix just released as 10.15.1. It looks like when we switched from TypeScript to Babel for compilation, the ESM module files were also ES6 (the CommonJS files have always been ES5). Now everything's ES5, so IE11-compatibility should be back. Let me know if you run into any issues.

[2020-08-17 21:46] Betree commented on #1278
Awesome, thank you for looking into this @jacobwgillespie!

[2020-08-26 18:49] pmapelli opened #1414 "however this package itself specifies a main module field that could not be resolved styled-icon"
![image](https://user-images.githubusercontent.com/15129047/91343876-86813b80-e7b3-11ea-816e-5cc3e00bffd7.png)
![image](https://user-images.githubusercontent.com/15129047/91343973-a9135480-e7b3-11ea-9dcd-7247fe0b762b.png)

I'm having this error after installing the package.

I already removed the node_modules folder, but the error persists.

[2020-08-26 23:49] #1414 closed

[2020-08-27 12:19] jacobwgillespie commented on #1414
Hey @pmapelli, thank you for this report! I have pushed a fix and it was just released as v10.18.0 - let me know if you run into any issues.

[2020-11-18 22:56] mikestopcontinues opened #1527 "Support for `style` prop without `styled-components`?"
Maybe this is outside the scope of the project, but would you be open to publishing packages that relied on the `style` prop instead of `styled-components`? This project is so incredibly useful, I think it could have a wider reach—and be of use in my current project 😄 —if it wasn't locked to styled-components.

[2020-11-18 23:46] jacobwgillespie commented on #1527
Hey, definitely - two thoughts here:

**First,** _technically_ you can use the `style` prop with Styled Icons already and it'll work, but it does also require `styled-components`, so that's not likely what you were looking for.

**Second,** the way I'm building the icon components here is by maintaining all the icon SVG files in the [svg-icons repository](https://github.com/svg-icons/svg-icons), a

[2020-11-21 15:35] mikestopcontinues commented on #1527
Jacob, thanks for the tip! I do actually use a one of those react svg loaders, but your svg-icons repo is key. That way, I can make an alternate wrapper component to the type you export here. Very cool, and thanks again!

[2020-11-21 15:35] #1527 closed

[2020-11-23 13:04] zverexe commented on #477
any updates on this?

[2020-11-23 16:23] jacobwgillespie commented on #477
Hey all, no updates yet, but if you had to describe how you'd like this feature to work, I'd appreciate any feedback here! I haven't personally had the need to add custom icons to Styled Icons, so any insights into what you'd expect would be extra helpful!

[2020-11-23 17:00] Haraldson commented on #477
@jacobwgillespie For me personally it’s about replicating

1. the visual appearance and behavior
1. all the accessibility stuff you provide under the hood

The visual stuff is mostly about making sure sizes are consistent; a custom icon should use the same amount of its bounding box as the bundled icons, and of course be centered.

The accessibility stuff is mostly about having sane defaults appli

[2021-01-15 16:59] seb-thomas commented on #676
I got this today too, sorry I dont have more details.

I copied some code over from another project where I'm using CRA and styled-components/macro v5.2.1, and noticed this issue. It weirdly breaks unrelated selectors, it seems like they apply for a second then not.

The same code does not have this issue on the CRA project - that I've noticed, although as OP says it's hard to pin down - so I thou

[2021-01-15 21:36] jacobwgillespie commented on #676
Hey @seb-thomas, yeah probably the best thing you could send would be a repo reproducing the issue, it doesn't have to be your private repo, just a small example, maybe using the same dependency versions. Or if not possible, yeah feel free to send what you can. 👍

[2021-01-20 09:42] oliver92 opened #1611 "Fluent UI Icons"
- Name: `Fluent UI`
- License: `https://github.com/microsoft/fluentui/blob/master/LICENSE`
- NPM package: `https://www.npmjs.com/package/@fluentui/react-icons`
- Website (if any): `https://developer.microsoft.com/en-us/fluentui?fabricVer=7#/styles/web/icons#available-icons`

[2021-01-20 17:25] jacobwgillespie commented on #1611
Hey @oliver92 thanks for opening this issue!

Do you know if the Fluent UI icons are available as SVGs? And out of curiosity, does using the `@fluentui/react-icons` package directly work for you, or are you looking for something it's missing? I can't find the SVG sources for the icons, which are necessary for adding them here, and there's already React components for Fluent UI.

[2021-01-21 10:00] oliver92 commented on #1611
Oh, i was thinking of these icons. Sorry for the mistake

https://github.com/microsoft/fluentui-system-icons/blob/master/icons.md

[2021-01-24 01:29] jnelken commented on #477
It's pretty simple IMO -- make any svg behave like a styled-icon! For instance, i have pictures of fruits I would like to incorporate as svgs into my app. BTW we appreciate your help on this!

[2021-03-03 15:24] FelipeVash opened #1671 "Error during of import during rendering"
I´m getting this error menssage:

![image](https://user-images.githubusercontent.com/67391914/109828320-4942ae00-7c1b-11eb-8f58-630128283558.png)

Already tried every import option described at the Readme

[2021-03-03 17:10] jacobwgillespie commented on #1671
@FelipeVash That error doesn't say anything about Styled Icons, it's referring to the `pages/_document.js` file in your Next.js project.

If the problem appeared after adding Styled Icons, are you able to share a repo that demonstrates the problem? It can be your actual repo, or another one you create with a minimal reproduction. I'd be happy to take a look.

[2021-03-03 17:41] FelipeVash commented on #1671
@jacobwgillespie  Thank you so much for the fast response! Sorry for my noob issue, I was not able to find the exact error but I deleted the node_modules folder and the path at the package, reinstalled it all and it worked just fine.
I´m pretty new at react, once again, my bad.

[2021-03-03 17:41] #1671 closed

[2021-03-03 19:58] jacobwgillespie commented on #1671
Cool, absolutely no problem - glad you figured it out! 🎉

[2021-03-22 15:58] #1611 closed

[2021-03-22 16:50] jacobwgillespie commented on #1611
@oliver92 Sorry for the delay, but this has now been published as v10.30.0 🎉

[2021-03-22 16:51] jacobwgillespie commented on #676
@seb-thomas any updates here? Did you ever track down a cause or a reproduction?

[2021-03-22 21:00] oliver92 commented on #1611
Awesome! Tnx

[2021-04-01 23:22] droplab opened #1710 "Documentation fix"
Hi, thanks for a great library. Wanted to bring to your attention an issue that greatly impacted a project I've been working on (in a bad way).

If your import is structured as follows, **EVERY SINGLE ICON** in the collection will be imported into your project and **not cached**. We were seeing the entire icon collection being compiled on every route change and page render...

[code]

Importing li

[2021-04-01 23:26] stramel commented on #1710
@droplab This sounds like a problem with your app's tree-shaking setup. We have setup the library to be able to be tree-shaken using common bundlers.

Can you provide some insight as to what you're using to bundle/tree-shake? Or even better provide a way to reproduce this issue?

[2021-04-02 21:07] bildungsroman opened #1712 "Server-side icon rendering?"
I'm using styled-icons on a Gatsby site, and am getting flashes of huge icons on page load before the CSS is implemented and they're styled and sized down.

Is it possible to render icons at build time for static sites using generators such as Gatsby?

[2021-04-03 02:12] jacobwgillespie commented on #1712
It should be, yes - usually when I've experienced something like this in the past, it's a Styled Components issue where Styled Components isn't fully integrated with server-side rendering.

Do you have a link to a repo, either the one you're seeing the error or a small reproduction? Or if not, can you share any details about how you've set up Gatsby?

If you haven't already, you may want to set up

[2021-04-06 22:00] raunaqgupta opened #1717 "remix-line icon pack does not contain the hashtag icon"
I'm not sure how packages are kept up-to-date but this particular icon is not available via `styled-icons`

![image](https://user-images.githubusercontent.com/623670/113783517-b6e56c80-96e8-11eb-9c62-4fae5badf7e5.png)

[2021-04-06 22:29] jacobwgillespie commented on #1717
Good catch, thanks for reporting this. It looks like the issue is that Remix icons are typically either line or fill icons (hence our `@styled-icons/remix-line` and `@styled-icons/remix-fill` packs), but the editor icons are not, there is only one variant for those.

I'll publish a new module, `@styled-icons/remix-editor`, shortly with the missing icons. 👍

[2021-04-07 16:55] #1717 closed

[2021-04-07 17:30] jacobwgillespie commented on #1717
The `@styled-icons/remix-editor` package has been published, thanks again! 🎉

[2021-04-08 00:36] bildungsroman commented on #1712
The repo in question is private, but I can talk about how it's set up.

I'm not using `gatsby-plugin-styled-components` but I will try that now. At the moment I have the following dependencies installed:
[code]

and am importing the icons into components as I need them:
[code]

[2021-04-08 18:41] jacobwgillespie commented on #1712
Perfect, thanks for the additional info - yeah if you're using Gatsby and haven't installed `gatsby-plugin-styled-components`, then I would expect you to be seeing the flash of unstyled icons that you are seeing, Gatsby needs that plugin to properly server-render any Styled Components style. 👍

Let me know if you're still seeing the issue after setting up that plugin and I'd be happy to investigat

[2021-04-08 18:42] bildungsroman commented on #1712
That makes sense. Should I change how I'm doing imports within my components?

[2021-04-08 18:47] jacobwgillespie commented on #1712
I don't think so, the way you're doing imports looks correct to me!

[2021-04-09 12:09] jacobwgillespie commented on #1710
@droplab any additional details you can share about what kind of app / bundler you are using? Styled Icons should be working with most major bundlers, but if you're seeing an issue, I'm happy to take a look.

[2021-05-05 23:39] bildungsroman commented on #1712
Closing this issue as adding `gatsby-plugin-styled-components` per @jacobwgillespie 's advice fixed my issues!

[2021-05-05 23:39] #1712 closed

[2021-05-06 11:24] jacobwgillespie commented on #676
I'm going to close this issue, but feel free to let me know if you're still able to reproduce and are able to share!

[2021-05-06 11:24] #676 closed

[2021-05-06 11:25] #1322 closed

[2021-05-06 11:26] jacobwgillespie commented on #1710
I'm going to close this issue, but feel free to post back if you're able to reproduce and share any additional details!

[2021-05-06 11:26] #1710 closed

[2021-05-08 09:49] AhmedTohamy01 commented on #1281
@jacobwgillespie

I have another problem with the slow performance , but not in https://styled-icons.js.org/ , it's in my react project itself.

When i use "npm i styled-icons" it took 15 min. to finish, and after it's  finished i noticed that my react app is loading extremely slower than usual (all pages), does this because i'm using icons from different packs ?

[2021-05-08 11:48] AhmedTohamy01 commented on #1281
@jacobwgillespie

Thank you for fast reply.

The problem is that i really use different icons from different packs, this library is amazing, it has a lot of pretty icons ...

Is there is anyway to install only the ICON that i need ?

for example: if i need this icon only "@styled-icons/boxicons-logos/Amazon" , should i install all ""@styled-icons/boxicons-logos" just to get 1 icon ?

[2021-05-08 12:52] jacobwgillespie commented on #1281
No problem! There's not currently a way to install just a single icon, so yes you would want to install `@styled-icons/boxicons-logos` even if you're only using one icon from that pack.

But that's still a lot lighter than installing everything, there are over 35 different packs included in `styled-icons`.

[2021-05-08 20:45] AhmedTohamy01 commented on #1281
@jacobwgillespie

Hey man, thank you so much for your clear answer. I wish if i could select the icons which i like from any pack :)

By the way, i found this slowness when i used styled-icons in NEXT.JS also, but it's really much slower than React. sometimes the page doesn't want to load at all.  I was installing all styled-icons packs also in this project.

But the interesting point that this sl

[2021-05-09 00:25] jacobwgillespie commented on #1281
@AhmedTohamy01 thanks for sharing the repository, I was able to take a look and capture some timings.

I first checked to make sure tree shaking was working - if you don't already know, the Webpack bundle analyzer is a nice way to investigate what modules are included in the built bundle, and the https://www.npmjs.com/package/@next/bundle-analyzer package makes this easy with Next. You run `npm in

[2021-05-10 22:42] AhmedTohamy01 commented on #1281
@jacobwgillespie

Hey buddy,

First of all , I'm so sorry for my late reply, this was really out of my hand.

Second, You are awesome man :)

Your explanation for the problem and the solution was really awesome and extremely helpful.

So, u will install only the packs which i need , and i don't mind also to import icons individually like this, it's not a big deal.
` import {IconName} from '@style-

[2021-05-10 22:52] jacobwgillespie commented on #1281
Perfect, thanks for the kind words, and I'm glad that was helpful and that you're finding the library useful! 🎉

[2021-05-10 23:01] AhmedTohamy01 commented on #1281
@jacobwgillespie Thanks buddy.

We will wait for your next awesome library :)

[2021-06-28 17:33] omBratteng commented on #1113
Perhaps if `styled-icons` exposed a function that accepted the output from e.g. `faAddressBook` and converted it into a styled icon

[2021-07-16 03:26] leoo1995 opened #1825 "StyledComponents logo error"
Hi, im trying to use the styledcomponents logo but the there is an error :

i use this package like that:
[code]

[2021-07-16 23:47] jacobwgillespie commented on #1825
@leoo1995 I believe there's a problem with the website deploying so it's currently out-of-date, I'll work on getting that fixed.

In the current version of the package, that icon is named `Styledcomponents` so if you import like this, it should work:

[code]

[2021-07-17 02:12] leoo1995 commented on #1825
Thanks, it worked.

[2021-07-25 17:58] KevinKra opened #1835 "Documentation update for "Base Icon Styles""
Could the "Base Icon Styles" documentation be expanded more? Currently it's vague and I'm having trouble understanding how it's intended to be implemented. I created a SO post here and have tried a bunch of different things and so far nothing is working.

https://stackoverflow.com/questions/68521158/how-to-setup-styled-components-base-icon-styles

[2021-07-26 14:20] jacobwgillespie commented on #1835
@KevinKra hey, thanks for opening the issue!

So the base icon styles are intended to be used how you are using them in your Stack Overflow post - if you reference `StyledIconBase` in a style, then those styles get applied to all icons that are children of that element. So if you had some CSS you wanted to apply to all icons in your application, you could add that CSS to a wrapper element that sur

[2021-07-29 18:51] KevinKra commented on #1835
Interesting, thank you for the feedback! I'll need to revisit this and mess around with it some more, for whatever reason in my implementation the color wasn't changing. Perhaps the issue lies elsewhere.

[2021-07-30 01:38] KevinKra commented on #1835
Yep, play around with it some more and it appears to be working now. Thank you again.

[2021-07-30 01:38] #1835 closed

[2021-07-30 19:19] jacobwgillespie commented on #1835
Perfect, glad to hear! 🎉

[2021-08-30 18:07] droplab opened #1856 "website down?"
Hitting https://styled-icon.js.org

![image](https://user-images.githubusercontent.com/201657/131384511-d3572b91-4bbf-41bc-9e43-0ee59a870935.png)

[2021-08-30 19:21] GuiWain commented on #1856
Apparently yes =/
I'm trying since early and nothing so far

[2021-08-30 20:11] jacobwgillespie commented on #1856
It is down, yes - Vercel hasn't been able to update the site for a while due to memory constraints in the build environment, but it appears to have just published an empty site in its place. When I have some time I'll look into wrangling the build again.

[2021-10-14 16:11] TatianaMatumoto commented on #666
i wanna know too

[2022-03-27 23:24] jmcannon opened #1988 "Is it possible to use styled-icons in a pseudo :before or :after element?"
Thank you!

[2022-03-28 14:30] jacobwgillespie commented on #1988
Hey, I'm not sure that this is possible, especially the ability to style embedded SVGs within a pseudo element. I _think_ it's possible to embed SVGs in a :before or :after via something like `content: url("data:image/svg+xml; utf8, <svg>...</svg>)`, but that's outside the scope of React really, you'd need just the raw SVG content.

If it's useful, all Styled Icons are generated from parallel pack

[2022-04-26 01:38] franciscop opened #2010 "More compact website?"
I'd like to suggest making the website layout more compact and more icons can be visible at once, maybe something like this?

<table>
  <tr><th>Before</th><th>After</th></tr>
  <tr>
    <td>
      <img width="500px" src="https://user-images.githubusercontent.com/2801252/165201497-f111eb32-906a-4ce9-b99d-1b328ae81bc1.png" />
    </td>
    <td>
      <img width="500px" src="https://user-images.githu

[2022-04-26 12:51] jacobwgillespie commented on #2010
Hey, thanks for the suggestion! If you'd like to send a PR, the website is here https://github.com/styled-icons/website, it would be appreciated! I may also take a look if I get some spare cycles beforehand too.

[2022-04-26 22:33] franciscop commented on #2010
Thanks! Sent a PR:

https://github.com/styled-icons/website/pull/55

[2022-04-26 22:49] #2010 closed

[2022-04-26 23:01] jacobwgillespie commented on #2010
Nice this live - thank you again! 🎉

[2022-09-08 00:12] rockerBOO opened #2081 "@styled-icons/styled-icon dependencies causing duplication due to older versions of @emotion/is-prop-valid"
When used with styled-components, this causes a duplication of dependencies. When looking at the source for [styled-icons/packages/@styled-icons/styled-icon/package.json](https://github.com/styled-icons/styled-icons/blob/main/packages/%40styled-icons/styled-icon/package.json), I do not see this dependency. Could this be bumped or removed if not required?

[code]

I am specifically using ` "@styled

[2022-09-08 15:21] jacobwgillespie commented on #2081
Hey, thanks for the issue report, I've published a version bump for all packages that should remove that dependency, let me know if you run into any issues 👍

[2022-09-08 15:21] #2081 closed

[2022-09-08 16:09] rockerBOO commented on #2081
Perfect! Thank you!

[2022-11-28 22:08] gabriellytrajano commented on #666
i wanna know too, can anyone answer that?